<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Meo Cl II Preparatory Course</title>
<link rel="icon" type="image/png" href="../images/favicon.png" sizes="16x19"/>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="../css/owl.transitions.css" rel="stylesheet" type="text/css">
<link href="../css/main.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../css/default.css" />
<link rel="stylesheet" type="text/css" href="../css/component.css" />
<script src="../js/modernizr.custom.js"></script>
<style type="text/css">
  header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
</style>
</head>
<body>
<section id="wrapper">
  <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>T.S.RAHAMAN</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
                 <li><a href="http://live.ipms247.com/booking/docs/hostelbooking/book.php"  class="btn-white-book" target="_blank">BOOK ROOM</a></li>
                <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="../images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
        <li><a href="javascript:;" target="_blank" class="btn-white-book not-click-pop">BOOK ROOM</a></li>
        <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="../images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>
  <section class="banner-inner banner-inner-courses banner-emc-course">
      <div class="certified"><h5><img src="../images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
  </section>
  <div class="container bg-white breadcrumb-wrap">
    <div class="row">
     <ul class="breadcrumb">
        <li><a href="/index"><img src="../images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li><a href="/rcamsar">RCAMSAR</a></li> 
       <li><a href="/courses" class="hide-link">Courses</a></li>
        <li class="active">MEO Cl II Preparatory Course</li>
      </ul>
    </div>
  </div>
  <section class="inner-pre-courses container pos-rel courses-inner">
  <div class="inner-title-wrap">
        <h2 class="inner-title">RAHAMAN COLLEGE OF ADVANCED <br>MARITIME STUDIES &amp; RESEARCH</h2>
        <h2 class="inner-title">RCAMSAR</h2>
      </div>
    <h1 class="text-uppercase gallery-inner-title">ENGINEERING MODULAR COURSES</h1>
    <h3>MEO CL II PREPARATORY COURSE</h3>
    <section class="inner-pre-wrap">
      <div class="tabbable tabs-left">
        <div class="tab-content">
          <div class="tab-pane active" id="gpr">
            <div class="course-duration-wrap">
              <div class="course-duration-cont">
                <p>16 Weeks<span>Course duration</span></p>
                <p>Pl. Contact<span>Course Dates</span></p>
                <p>40,000/-<span>Fees</span></p>
              </div>
              <div class="courses-btn-wrap">
              <p class="btn-app-form text-uppercase" ><a href="../pdf/catering/presea/application/Application form  For MEO CL II-IV 11-12-2012.pdf" target="_blank">application form</a></p>
              <p class="btn-app-form btn-prospects text-uppercase"><a href="../pdf/meoII.pdf" target="_blank">prospectus</a></p>
              </div>
            </div>
            <article>N/A<!--Established in the year 1910 as an Orphanage by the Late Haji Ismail Yusuf, it was converted to a Marine School and later a College by his eldest son Sir Mohamed Yusuf and has the unique distinction of not only being the first and the only one of its type in South Asia, but also the first to train Indians as Officers for the Merchant Marine. This Nautical Training Institute was later renamed as "Training Ship Rahaman" in 1972 by the late Chairman (Emeritus), Mr. A. Rashid Yusuf, in memory of his father Mr. Abdul Rahaman, the first President of the Managing Board ( and the eldest son of Sir Mohamed Yusuf). This pioneering Establishment has over the last nine decades, served the Marine community with dedication. The Institution conducts Pre Sea Courses besides various other STCW Courses on its premises. The courses are recognised by the Directorate General of Shipping, Ministry of Shipping, Road Transport and Highways, Government of India."--></article>
            
            <!--Accordian-->
            
            <div class="panel-group" id="nested">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor1">RULES AND REGULATION</a></h4>
                </div>
                <div id="courseAccor1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>N/A
                      <!--li>Admission to GME course is based on the entrance test and the personal interviews. T.S. ‘Rahaman’ does not charge any amount other than course fees for admission. Admission will be declined if the management comes to know that any candidate is trying to secure admission by unfair means.</li>
                      <li>Alcohol and tobacco is banned in the campus.  Strict disciplinary action including dismissal shall be initiated against students who are found consuming, carrying or storing alcohol or tobacco products.</li>
                      <li>Sir Mohamed Yusuf Seamen Welfare Foundation have zero tolerance policy against ragging and narcotics, if a student is found to be indulged in any of above, it shall result in rustication of student and the case will be reported to the police. </li>
                      <li>In case of any major indiscipline by any student, the case will be dealt by a disciplinary committee and the decision of the committee will be final.</li>
                      <li>Students will not be permitted to go out of the campus except on Sunday (and public holidays declared by the foundation) between 0600 hrs and 0830 hrs. Students are required to take maximum care of themselves during shore leave. T.S. ‘Rahaman’ will not be in a position to keep a track of the students whenever out of the campus. </li>
                      <li>All the certificates submitted by the candidates will be verified at source. In case any certificate is proven to be fake such candidates will be rusticated and no fee will be refunded. Candidates will not be receiving Continuous Discharge Certificate till verification report from respective Universities/ boards are received by us. </li>
                      <li>The course involves handling of hazardous equipments, study tours ashore / offshore and adventure trips. Students required to adhere to the safety norms strictly. ‘Training ship Rahaman’ will not be liable for payment of compensation whatsoever towards any expenses cost arising from any accidents / mishap during the program.</li>
                      <li>Use of mobile phones is prohibited inside mess & during class room studies. It is strongly recommended that student carry mobile phone without camera. If student is caught with camera mobile during class room hours and in mess his / her phone shall be confiscated and a fine of Rs.500/- will be imposed on the candidate.  </li>
                      <li>Students will not be permitted to commence the training till they pay the complete fees for the training program. </li>
                      <li>Students are always required to wear correct uniforms except during bed time. </li>
                      <li>To discourage thefts, students are not permitted to keep more than Rs. 250/- , expensive mobile phone or jewellery with them.</li>
                      <li>100% attendance is expected from all candidates, those candidates having less than  90% attendance will not be permitted to appear for the final examinations.</li>
                      <li>Parents / friends /relatives of the students will not be permitted to enter student hostels.</li-->
                    </ul>
                  </div>
                </div>
              </div>
               

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor3">CAREER PATH</a></h4>
                </div>
                <div id="courseAccor3" class="panel-collapse collapse">
                  <div class="panel-body">
                    N/A<!--<figure><img src="../images/course/career_path_bsc_ns.jpg" class="img-responsive"></figure>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor4">ELIGIBILITY</a></h4>
                </div>
                <div id="courseAccor4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                    <li>12 months approved Sea service after obtaining MEO Class IV part (B) /(III/I) on ships with Main Engine/s of power 750 KW or more</li>
                    <li>Minimum 8 months propelling time</li>
                    <li>Sea service letters from Shipping Companies</li>
                    <li>3 Passport size colour photographs.</li>
                    <li>INDOS No.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="faq-toggle-wrap panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor7">FAQ's</a></h4>
                </div>
                <div id="courseAccor7" class="panel-collapse collapse">
                  <div class="faq-wrap panel-body">
                          <div class="panel-group" id="nested-sec">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec1">What is training course duration?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec1" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                              <li>This training course is 16 (sixteen) weeks duration.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec2">Is this course DG shipping approved for STCW 2010?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec2" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                              <li>This course is DG Shipping Approved course and issues certificate as per STCW 2010.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec3">Is this course residential or non residential?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec3" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                          <ul>
                                           <li>This course is non residential. However Candidates from outstation can avail Hostel facility at additional cost.</li>
                                          </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec4">Is daily transport is available from CBD belapur railway station?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec4" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                              <li>Yes, daily transport is available.</li>
                                              <li>Bus starts at 0730 hrs from Belapur for T S Rahaman and leaves at 1730 hrs from T S Rahaman for Belapur.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec5">Is family accommodation available?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec5" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                          <ul>
                                           <li>Yes, it could be arranged. While booking the course, you may register your request for such accommodation.</li>
                                          </ul>
                                      </div>
                                    </div>
                                </div>
                          </div>
                </div>
                </div>
              </div>

            </div>
            <p class="btn-gallry text-center text-uppercase"><a href="http://183.87.148.62:7274/application/index" target="_blank" class="hvr-sweep-to-left book-course-btn"><span>Book Now</span></a></p>
            
            <!--End Accordian-->
            
            
          </div>
          
          
      <!-- /tabs --> 
      
    </section>
  </section>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <img src="../images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <select class="select-foot">
                  <option selected="selected" hidden>Select</option>
                  <option>Pre Sea (Nautical)</option>
                  <option>Post Sea (STCW)</option>
                  <option>ARACAMH</option>
                  <option>RCAMSAR</option>
              </select>
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="../pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <ul>
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
</section>
  <div class="pop-not-click">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <h1>Hostel Booking</h1>
        <article>Hostel booking can be done when coming for the course.</article>
      </div>
    </div>
  </div>
<script src="../js/jquery-1.11.3.js"></script> 
<script src="../js/bootstrap.js"></script> 
<script src="../js/jquery.dlmenu.js"></script> 
<script src="../js/owl.carousel.min.js"></script> 
<script src="../js/main.js"></script> 
<script type="text/javascript">
    $('.hide-link').html(sessionStorage.username);
    sessionStorage.clear();
</script>
<script>

$(document).ready(function() {
  $('.courses-inner .panel-title').click(function(){
      if($(this).hasClass('active')){
        $(this).removeClass('active');
      }
      else 
      {   

        $('.courses-inner .panel-title').removeClass('active');
          $(this).addClass('active');
      }
  });

  //$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

  $(".tsr_gallery").owlCarousel({
 
      //autoPlay: 3000, //Set AutoPlay to 3 seconds 
      navigation : true,
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });

  $('.faq-expand').hide();

  $('.faq').click(function(){
    $(this).next('.faq-expand').slideToggle();
    $(this).parent().siblings().children().next().slideUp();
    return false;
  })

	//$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

	(function($) {

	 "use strict"

	 

	 // Accordion Toggle Items

	   var iconOpen = 'fa fa-minus',

			iconClose = 'fa fa-plus';

	

		$(document).on('show.bs.collapse hide.bs.collapse', '.accordion', function (e) {

			var $target = $(e.target)

			  $target.siblings('.accordion-heading')

			  .find('em').toggleClass(iconOpen + ' ' + iconClose);

			  if(e.type == 'show')

				  $target.prev('.accordion-heading').find('.accordion-toggle').addClass('active');

			  if(e.type == 'hide')

				  $(this).find('.accordion-toggle').not($target).removeClass('active');

		});

		

	})(jQuery);



});



</script>
</body>
</html>
