<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Fire Fighting and Fire Prevention Course (FPFF COURSE)</title>
<link rel="icon" type="image/png" href="../images/favicon.png" sizes="16x19"/>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="../css/owl.transitions.css" rel="stylesheet" type="text/css">
<link href="../css/main.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../css/default.css" />
<link rel="stylesheet" type="text/css" href="../css/component.css" />
<script src="../js/modernizr.custom.js"></script>
<style type="text/css">
  header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
</style>
</head>
<body>
<section id="wrapper">
  <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>T.S.RAHAMAN</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
                 <li><a href="http://live.ipms247.com/booking/docs/hostelbooking/book.php"  class="btn-white-book" target="_blank">BOOK ROOM</a></li>
                <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="../images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
        <li><a href="javascript:;" target="_blank" class="btn-white-book not-click-pop">BOOK ROOM</a></li>
        <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
                 <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="../images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>
  <section class="banner-inner banner-inner-courses banner-stcw-course">
      <div class="certified"><h5><img src="../images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
  </section>
  <div class="container bg-white breadcrumb-wrap">
    <div class="row">
     <ul class="breadcrumb">
        <li><a href="/index"><img src="../images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li><a href="/rcamsar">RCAMSAR</a></li> 
       <li><a href="/courses" class="hide-link">Courses</a></li>
        <li class="active">Fire Fighting and Fire Prevention Course (FPFF COURSE)</li>
      </ul>
    </div>
  </div>
  <section class="inner-pre-courses container pos-rel courses-inner">
  <div class="inner-title-wrap">
        <h2 class="inner-title">RAHAMAN COLLEGE OF ADVANCED <br>MARITIME STUDIES &amp; RESEARCH</h2>
        <h2 class="inner-title">RCAMSAR</h2>
      </div>
    <h1 class="text-uppercase gallery-inner-title">STCW COURSES</h1>
    <h3>Fire Fighting and Fire Prevention Course (FPFF COURSE)</h3>
    <section class="inner-pre-wrap">
      <div class="tabbable tabs-left">
        <div class="tab-content">
          <div class="tab-pane active" id="gpr">
            <div class="course-duration-wrap">
              <div class="course-duration-cont">
                <p>3 days<span>Course duration</span></p> 
                 <p>Every Thursday<span>Course Date</span></p>
                <p>2,600/-<span>Fees</span></p>
              </div>
              <div class="courses-btn-wrap">
              <p class="btn-app-form text-uppercase"><a href="../pdf/post sea course/postsea_common_application.pdf" target="_blank">application form</a></p>
              <p class="btn-app-form btn-prospects text-uppercase"><a href="../pdf/course/stcw/FPFF.pdf" target="_blank">prospectus</a></p>
              </div>
            </div>
            <article>N/A<!--Established in the year 1910 as an Orphanage by the Late Haji Ismail Yusuf, it was converted to a Marine School and later a College by his eldest son Sir Mohamed Yusuf and has the unique distinction of not only being the first and the only one of its type in South Asia, but also the first to train Indians as Officers for the Merchant Marine. This Nautical Training Institute was later renamed as "Training Ship Rahaman" in 1972 by the late Chairman (Emeritus), Mr. A. Rashid Yusuf, in memory of his father Mr. Abdul Rahaman, the first President of the Managing Board ( and the eldest son of Sir Mohamed Yusuf). This pioneering Establishment has over the last nine decades, served the Marine community with dedication. The Institution conducts Pre Sea Courses besides various other STCW Courses on its premises. The courses are recognised by the Directorate General of Shipping, Ministry of Shipping, Road Transport and Highways, Government of India."--></article>
            
            <!--Accordian-->
            
            <div class="panel-group" id="nested">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor1">RULES AND REGULATION</a></h4>
                </div>
                <div id="courseAccor1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>N/A
                      <!--<li>The Standing Rules and regulations of the Academy shall be binding on all students. This may be changed without prior intimation to the students.</li>
                      <li>Gold ornaments or other valuable items or any kind of electrical apparatus are not allowed to be kept.</li>
                      <li>Cadets are not allowed to keep more than about Rs. 500/- in cash with them. Excess cash should be deposited with the cashier and can be withdrawn in lots of Rs. 500/-.</li>
                      <li>Uniform is to be worn at all times during training. Hence, very few civilian clothes are to be brought. In case any student found not in the proper uniform, he has to Penalize for the day.</li>
                      <li>Cadets are permitted ‘shore leave’ in uniform only on Sundays between 07.00 and 20.00 hours.</li>
                      <li>Cadets are not allowed to stay out of the campus at night under any circumstances. Parents are instructed not to make any request for the same.</li>
                      <li>Visitors are permitted only on Sundays between 09.00 and 18.00 hours.</li>
                      <li>The use of tobacco and alcohol is strictly prohibited in the Academy. If the candidate is found in alcoholic condition or under drug effect, this would cause immediate rustication from the Academy. The Academy’s decision in this case will be final. No appeal against the decision will entertained from parents or guardians.</li>
                      <li>Long hair, moustaches and beards are not allowed during the period of training. Sikh candidates are exempted from this. </li>
                      <li>The following are prohibited in the hostel <br>
                        <ul>
                          <li>Illegal drugs </li>
                          <li>Gambling</li>
                          <li>Fire arms of any kind </li>
                          <li>Knives</li>
                          <li>Pets or livesock of any description</li>
                        </ul>
                      </li>
                      <li>Special area has been earmarked for Cadets to meet their guests. Guests wishing to meet the cadets are to approach the course instructor / Course Officer (during off work hours). The cadets will be informed, whilst the guest wait in the guest waiting area. Under no circumstances the guest are to proceed to the hostel rooms / class rooms.</li>
                      <li>In case if the student withdrawing from the course in between the Completion period of the course, he has to pay entire amount of the concern course fees. (Either withdrawing himself or rusticated due to major offence).</li>
                      <li>In case of damage or loss of hostel property the cost will be recovered from the students if identified It will be individual otherwise all the student of the hostel room (Individual area) decided by the associate warden.</li>
                      <li>The use of electrical appliances such as immersion heaters, electric stove/ heaters / electric iron are forbidden in any of the rooms allotted for residence. Private cooking in the hostels / student’s room is strictly forbidden. Such appliances, if found will be confiscated and a fine will also be imposed.</li>
                      <li>When the students go out of their room they should switch off all the electrical / electronic appliances, and keep it locked (at all times). Violation will attract suitable penalty and punishment as decided by authorities.</li>
                      <li>Not attending classroom lectures without permission will result in Violation will attract suitable penalty and punishment as decided by authorities.</li>
                      <li>In case the applicant withdraw from the course before commencement of the course or does not report on the day of commencement of course. I or we shall not ask for any refund or transfer of any fees.</li>
                      <li>The college is not responsible if any student/parents paying any money to any agent for admission or placement.</li>
                      <li>All payments must be made in college, at the college counter only and receipts to be obtained for all payments.</li>
                      <li>Disputes are subject to Mumbai jurisdiction.</li>-->
                    </ul>
                  </div>
                </div>
              </div>
               

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor3">CAREER PATH</a></h4>
                </div>
                <div id="courseAccor3" class="panel-collapse collapse">
                  <div class="panel-body">
                  N/A <!-- <figure><img src="../images/course/career_path_bsc_ns.jpg" class="img-responsive"></figure>-->
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor4">ELIGIBILITY</a></h4>
                </div>
                <div id="courseAccor4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                       <li>All seafarers or prospective seafarers are eligible.</li>
                      <li>Identification Documents</li>
                      <li>Certificate of fitness from a Registered Medical Practitioner (Certificate should not be more than one month old on date of commencement of PST/ FPFF courses)</li>
                      <li>9 Passport size colour photographs </li>
                      <li>INDOS No.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor7">FAQ's</a></h4>
                </div>
                <div id="courseAccor7" class="panel-collapse collapse">
                  <div class="panel-body">
                     N/A
                       <!-- <h4>Online through Website</h4>
                        <ul>
                          <li>Step I : Fill the application form on this website. Last date for availability of forms - 3rd June 2016. </li>
                          <li>Step II : Pay the non-refundable application and online test fees through the website using credit / debit card / internet banking OR by  a Demand Draft / Pay Order for Rs. 1000/-  in favour of "Tolani Maritime Institute", payable at Pune.</li>
                          <li>Step III:Print duly filled application form and the summary generated
                          </li>
                        </ul>
                        
                        <h4>Necessary documents to be sent to TMI with all applications</h4>
                        <ul>
                          <li>Printed copy of the application form and the summary generated after an application is made through this website. </li>
                          <li>Two identical recent passport size photographs with name & form no. written at the back. </li>
                          <li>Copies of certificates and / or mark sheets of your 10th and 12th  examinations (or its equivalent) attested by Govt. gazetted officers. Applicants who have not received 12th marksheet may submit a bonafide certificate from the head of the school or college where they appeared for these exams </li>
                          <li>Attested Copy of Birth Certificate (for proof of age and place of Birth).</li>
                          <li>Downloaded copies of class XII marksheet (on receipt) from internet attested by school Principal </li>
                          <li>Copies of certificates for sports and any other extra curricular activities, if available (from Std. VIII and above only).</li>
                        </ul>
                        
                        <h4>Do's and Don'ts</h4>
                        <ul>
                          <li>Each applicant must submit only one application form.</li>
                          <li>The application form must be completed in full, in English.</li>
                          <li>The full Name and Date of Birth entered in the application form must be same as that which appears on your School Leaving Certificate.</li>
                          <li>Please ensure your postal address, including PIN code and telephone numbers (with STD codes) are correct and free of spelling and other errors.</li>
                          <li>Application summary must be submitted in an envelope super-scribed with the words "Application for admission to Marine Engineering" or "Application for admission to Nautical Science" depending on which programme you are applying for.</li>
                          <li>Kindly keep a copy of the application for future reference.</li>
                        </ul>-->
                  </div>
                </div>
              </div>

            </div>
            <p class="btn-gallry text-center text-uppercase"><a href="http://183.87.148.62:7274/application/index" target="_blank" class="hvr-sweep-to-left book-course-btn"><span>Book Now</span></a></p>
            
            <!--End Accordian-->
            
            
          </div>
          
          
      <!-- /tabs --> 
      
    </section>
  </section>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
             <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <img src="../images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <select class="select-foot">
                  <option selected="selected" hidden>Select</option>
                  <option>Pre Sea (Nautical)</option>
                  <option>Post Sea (STCW)</option>
                  <option>ARACAMH</option>
                  <option>RCAMSAR</option>
              </select>
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="../pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <ul>
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
</section>
  <div class="pop-not-click">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <h1>Hostel Booking</h1>
        <article>Hostel booking can be done when coming for the course.</article>
      </div>
    </div>
  </div>
<script src="../js/jquery-1.11.3.js"></script> 
<script src="../js/bootstrap.js"></script> 
<script src="../js/jquery.dlmenu.js"></script> 
<script src="../js/owl.carousel.min.js"></script> 
<script src="../js/main.js"></script>
<script type="text/javascript">
    $('.hide-link').html(sessionStorage.username);
   sessionStorage.clear();
</script> 
<script>

$(document).ready(function() {
  $('.courses-inner .panel-title').click(function(){
      if($(this).hasClass('active')){
        $(this).removeClass('active');
      }
      else 
      {   

        $('.courses-inner .panel-title').removeClass('active');
          $(this).addClass('active');
      }
  });

  //$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

  $(".tsr_gallery").owlCarousel({
 
      //autoPlay: 3000, //Set AutoPlay to 3 seconds 
      navigation : true,
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });

  $('.faq-expand').hide();

  $('.faq').click(function(){
    $(this).next('.faq-expand').slideToggle();
    $(this).parent().siblings().children().next().slideUp();
    return false;
  })

	//$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

	(function($) {

	 "use strict"

	 

	 // Accordion Toggle Items

	   var iconOpen = 'fa fa-minus',

			iconClose = 'fa fa-plus';

	

		$(document).on('show.bs.collapse hide.bs.collapse', '.accordion', function (e) {

			var $target = $(e.target)

			  $target.siblings('.accordion-heading')

			  .find('em').toggleClass(iconOpen + ' ' + iconClose);

			  if(e.type == 'show')

				  $target.prev('.accordion-heading').find('.accordion-toggle').addClass('active');

			  if(e.type == 'hide')

				  $(this).find('.accordion-toggle').not($target).removeClass('active');

		});

		

	})(jQuery);



});



</script>
</body>
</html>
