<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Bsc Maritime Hospitality Studies</title>

<link rel="icon" type="image/png" href="../images/favicon.png" sizes="16x19"/>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="../css/owl.transitions.css" rel="stylesheet" type="text/css">
<link href="../css/main.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../css/default.css" />
<link rel="stylesheet" type="text/css" href="../css/component.css" />
<script src="../js/modernizr.custom.js"></script>
<style type="text/css">
  header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
</style>
</head>
<body>
<section id="wrapper">
  <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>T.S.RAHAMAN</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
                <li><a href="http://live.ipms247.com/booking/docs/hostelbooking/book.php"  class="btn-white-book" target="_blank">BOOK ROOM</a></li>
                <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="../images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
        <li><a href="javascript:;" target="_blank" class="btn-white-book not-click-pop">BOOK ROOM</a></li>
        <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="../images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>
  <!-- /container -->
  <section class="banner-inner banner-bscmhs-inner banner-inner-courses banner-catering-course">
      <div class="certified"><h5><img src="../images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner text-uppercase" role="listbox">
        <div class="item active banner-img1">
        </div>
        <div class="item banner-img3">
        </div>
        <div class="item banner-img4"> 
        </div>
      </div>
      </div>
  </section>
  <div class="container bg-white breadcrumb-wrap">
    <div class="row">
     <ul class="breadcrumb">
        <li><a href="/index"><img src="../images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li><a href="/aracah"> ARACAMH</a></li> 
      <li><a href="/courses" class="hide-link">Courses</a></li>
        <li class="active">B.SC Maritime Hospitality Studies</li>
      </ul>
    </div>
  </div>
  <section class="inner-pre-courses container pos-rel courses-inner">
  <div class="inner-title-wrap">
        <h2 class="inner-title">ABDUL RASHID ACADEMY OF <br> CULINARY ARTS &amp; MARITIME HOSPITALITY </h2>
        <h2 class="inner-title">ARACAMH</h2>
      </div>
      <div class="row col-sm-12 gallery-mbl-style col-md-3 col-lg-3 padding-zero" style="overflow: hidden;margin-top: 40px;">
      <h1 class="text-uppercase" style="padding-left: 15px"><img src="../images/inner-course-icon.png">courses</h1>
                    <div class="panel-group gallery-tabs" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a class="click-tab active" data-parent="#accordion" href="/courses/tsr_bscmaritimehospitalitystudies">B.SC MARITIME HOSPITALITY STUDIES</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
          <a class="click-tab" data-parent="#accordion" href="/courses/tsr_certificationcourseinmaritimecatering">CERTIFICATE COURSE IN MARITIME CATERING</a>
        </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
          <a class="click-tab" data-parent="#accordion" href="/courses/ba_culinary_arts">BA CULINARY ARTS</a>
        </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
          <a class="click-tab" data-parent="#accordion" href="/courses/short_term_maritime_catering">SHORT TERM MARITIME CATERING</a>
        </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 padding-zero" style="padding-left: 40px;margin-top: 40px;">
    <h1 class="text-uppercase gallery-inner-title">Hospitality Courses</h1>
    <h3>B.SC MARITIME HOSPITALITY STUDIES </h3>
    <section class="inner-pre-wrap">
      <div class="tabbable tabs-left">
        <div class="tab-content">
          <div class="tab-pane active" id="gpr">
            <div class="course-duration-wrap">
              <div class="course-duration-cont">
                <p>3 years<span>Course duration</span></p>
                <p>3,62,000/-<span>Non Residential Fees</span></p>
                <p>5,38,850/-<span>Residential Fees</span></p>
              </div>
              <div class="courses-btn-wrap">
              <p class="btn-app-form text-uppercase"><a href="../pdf/catering/presea/application/BSC. MU APPLICATION FORM REV 05 25-04-2018.pdf" target="_blank">application form</a></p>
              <p class="btn-app-form btn-prospects text-uppercase"><a href="../pdf/course/presea/bsc marine time.pdf" target="_blank">prospectus</a></p>
              </div>
            </div>
            <article>Training Ship ‘Rahaman’, in association with University of Mumbai compiled a unique degree program in Maritime Hospitality Studies which got affiliation from University of Mumbai in the academic year 2009 – 2010. The course aims at preparing students mentally and physically for a tough and stressful career onboard Ships. The curriculum is carefully designed with inputs from experts from both industry and Academia; emphasis is given on the preparation and service of various cuisines from Europe, Oriental and other seafaring nations such as the Philippines, Scandinavia, Thailand, Korea, China and India. Besides this the curriculum covers topics on Managerial Skills, Safety at Sea and soft skills.  Standards of Training, Certification and Watch Keeping (STCW) 2010 convention of International Maritime Organization (IMO) which are part of any Maritime related career are also in built into the course. <br>
            Like any other regular hotel management course the BSc MHS program also offers job opportunities in shore based Hospitality Industry. Besides employment prospects on Merchant Ships, students can opt for employment on Cruise Ships as well after few years of Hotel experience.  <br>
            Apart from career options in Hospitality Industry, students with a penchant for public relations can look out for a career in the customer care. The program also offers numerous opportunities for higher studies in India as well as abroad.
 
            </article>
            
            <!--Accordian-->
            
            <div class="panel-group" id="nested">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor1">RULES AND REGULATION</a></h4>
                </div>
                <div id="courseAccor1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li>Admission to BSc MHS course will be purely on merit basis T.S.Rahaman does not charge any amount  other than course fees for admission. Admission will be declined if the management comes to know that any   candidate is trying to secure admission by unfair means.</li>
                      <li>In case of any major indiscipline by any student the case will be dealt by a disciplinary committee and the decision of the committee will be final.</li>
                      <li>A dossier will be maintained for each student, this will carry the entire details of the student’s performance in the field of academics and discipline. This will be presented to the recruiters during interview.</li>
                      <li>Candidates enrolling for the course will have the option to choose being residential or a day scholar.  He has to choose his residential status at the beginning of the course and will not be permitted to change the same in between the course. Residential Students will not be permitted to go out of the campus except on Fridays at 1600 hrs   and on non teaching days. T.S. Rahaman will not be in a position to keep a track of the students whenever out of the campus. Non Residential Students will not be permitted to enter hostels or  be in the campus after 1730 hrs.</li>
                      <li>The admission to the program is provisional and will be confirmed only after receiving enrolment confirmation from the University. If University does not accept the enrolment due to any reason, such candidates have to discontinue the program. </li>
                      <li>When a candidate joins the course a PAP card (Professional attitude Points) will be issued to him with 100 points. For every act of indiscipline marks will be deducted and every act of merit marks will be added. Once the marks reaches 70 or below, the student will be suspended from the classes till the parent meets the principal. Thereafter points will be raised to 100. When the PAP points reach 70 for the third time, the student will be rusticated.</li>
                      <li>In case the candidate becomes medically unfit during the course he will not be eligible for Continuous discharge certificate (CDC). In addition to passing of final examination and completion of OCCP course, Issuance of CDC will also be subject to submission of valid Medical fitness certificate from a DG approved doctor at the end of the course. Training Ship Rahaman will not be responsible for non issuance of CDC due to change in Government policies on issuance of CDC by Shipping Master. </li>
                      <li>The course involves handling of hazardous equipments, study tours ashore and offshore and adventure trips. Students required to adhere to  the safety norms strictly.   ‘Training ship Rahaman’ will not be liable for payment of compensation whatsoever towards any expenses cost arising from any accidents / mishap during the program.</li>
                      <li>Use of mobile phones is prohibited inside mess & during class room studies. It is strongly recommended that student carry mobile phone without camera. If student is caught with camera mobile during class room hours and in mess his / her phone shall be confiscated and a fine of Rs.500/- will be imposed on the candidate.   </li>
                      <li>Students will not be permitted to appear for final examinations until and unless they clear all  fees dues for the respective semester. The fees paid for the course is not refundable under any circumstances.</li>
                      <li>Alcohol and tobacco are banned in the campus. Strict disciplinary action including dismissal shall be initiated against students who are found consuming or carrying or storing alcohol or tobacco products. </li>
                      <li>Sir Mohamed Yusuf Seamen Welfare Foundation have zero tolerance policy against ragging and narcotics, if a student is found to be indulged in any of above, it shall result in rustication of student and the case will be reported to the police.</li>
                      <li>Students are always required to wear correct uniforms except during bed time. </li>
                      <li>To discourage thefts, Students  are not permitted to keep more than Rs. 250/- , expensive mobile phone  or  jewellery with them.</li>
                      <li>100% attendance is expected from all candidates, those candidates having less than 75%  attendance will not be permitted to appear for the final examinations.</li>
                      <li>Parents / friends /relatives of the students will not be permitted to enter student hostels.</li>
                    </ul>
                  </div>
                </div>
              </div>
               

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor3">CAREER PATH</a></h4>
                </div>
                <div id="courseAccor3" class="panel-collapse collapse">
                  <div class="panel-body">
                   <figure><img src="../images/course/career_path.jpg" class="img-responsive"></figure>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor4">ELIGIBILITY</a></h4>
                </div>
                <div id="courseAccor4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li>Academic Standards: 12th Pass with minimum 40% aggregate & 40% marks in English Subject (Commerce, arts or science)</li>
                      <li>Age Limit:  Maximum 25 yrs.</li>
                      <li>Physical Standards: Medical fitness certificate in E & F format with appendix 4 of training circular No 1 of 2015 dated 16th January 2015 from a doctor  approved by DG Shipping.</li>
                      
                    </ul>
                  </div>
                </div>
              </div>

              <div class="faq-toggle-wrap panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor7">FAQ's</a></h4>
                </div>
                <div id="courseAccor7" class="panel-collapse collapse">
                <!--faq latest-->
                <div class="faq-wrap panel-body">
                          <div class="panel-group" id="nested-sec">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec1">How BSC MHS (Maritime Hospitality Studies) course is different from regular Hotel Management (HM)?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec1" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                              <li>BSc MHS not only include the knowledge and experience provided in a regular HM course but also includes knowledge of ships & shipping industry, safety & environmental compliances etc. It gives an edge to candidate to pursue a career on cruises, luxury hotels as well as merchant ships.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec2">What are the scope of this course and any scope of diversifying?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec2" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                              <li>After procuring a degree of BSc MHS an individual can easily acquire an off shore or a shore job. As the degree is affiliated to UGC approved University of Mumbai, it is universally approved for pursuing further certification and degree.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec3">Will there be any facility for bank loans?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec3" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>T. S. Rahaman has signed a MOU with Bank of India for providing educational loans to candidates enrolling for BSc MHS. We will be providing the guidance to the candidates for bank loans.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec4">What is the guarantee for placements?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec4" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>We will be providing assistance for placements. BSc MHS course has received 100% placement for all the batches which has passed out so far. College does not guarantee placements.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec5">Is it a residential course?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec5" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>BSc MHS – Non residential. (Hostel facilities available)</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec6">What are the advantages of working on a ship?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec6" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                            <li>Merchant ships usually have strength of 20 to 30 crew members who may be different nationalities. Crew members have the privilege of visiting different ports around the world. The remuneration which a crew member receives is in foreign currency and tax free depending upon the duration of sail in a financial year. Most of the BSc MHS students reach a monthly package of USD 1500 to 2000 in three years that too tax free!.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec7">About extracurricular activities?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec7" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>Different sports Activities like cricket, volleyball, basket ball, boxing, swimming, table tennis, badminton, billiards, carom are available, also activates like mountaineering, quizzes, food fest are done on yearly basis. Our students also compete in various sports, culinary and quiz competitions.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                          </div>
                </div>
                <!--faq latest end-->
                </div>
              </div>

            </div>
            <p class="btn-gallry text-center text-uppercase"><a href="http://183.87.148.62:7274/application/index" target="_blank" class="hvr-sweep-to-left book-course-btn"><span>Book Now</span></a></p>
            
            <!--End Accordian-->
            
            
          </div>
          
          
      <!-- /tabs --> 
      
    </section>
    </div>
  </section>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <img src="../images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <select class="select-foot">
                  <option selected="selected" hidden>Select</option>
                  <option>Pre Sea (Nautical)</option>
                  <option>Post Sea (STCW)</option>
                  <option>ARACAMH</option>
                  <option>RCAMSAR</option>
              </select>
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="../pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <ul>
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
</section>
  <div class="pop-not-click">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <h1>Hostel Booking</h1>
        <article>Hostel booking can be done when coming for the course.</article>
      </div>
    </div>
  </div>
<script src="../js/jquery-1.11.3.js"></script> 
<script src="../js/bootstrap.js"></script> 
<script src="../js/jquery.dlmenu.js"></script> 
<script src="../js/owl.carousel.min.js"></script> 
<script src="../js/main.js"></script> 
<script type="text/javascript">
    $('.hide-link').html(sessionStorage.username);
   sessionStorage.clear();
</script>
<script>

$(document).ready(function() {
  $('#myCarousel').carousel({
      interval: 2000
    });
  $('.courses-inner .panel-title').click(function(){
      if($(this).hasClass('active')){
        $(this).removeClass('active');
      }
      else 
      {   

        $('.courses-inner .panel-title').removeClass('active');
          $(this).addClass('active');
      }
  });

  //$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

  $(".tsr_gallery").owlCarousel({
 
      //autoPlay: 3000, //Set AutoPlay to 3 seconds 
      navigation : true,
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });

  $('.faq-expand').hide();

  $('.faq').click(function(){
    $(this).next('.faq-expand').slideToggle();
    $(this).parent().siblings().children().next().slideUp();
    return false;
  })

	//$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

	(function($) {

	 "use strict"

	 

	 // Accordion Toggle Items

	   var iconOpen = 'fa fa-minus',

			iconClose = 'fa fa-plus';

	

		$(document).on('show.bs.collapse hide.bs.collapse', '.accordion', function (e) {

			var $target = $(e.target)

			  $target.siblings('.accordion-heading')

			  .find('em').toggleClass(iconOpen + ' ' + iconClose);

			  if(e.type == 'show')

				  $target.prev('.accordion-heading').find('.accordion-toggle').addClass('active');

			  if(e.type == 'hide')

				  $(this).find('.accordion-toggle').not($target).removeClass('active');

		});

		

	})(jQuery);



});



</script>
</body>
</html>
