<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Graduate Mechanical Engineering(GME)</title>
<link rel="icon" type="image/png" href="../images/favicon.png" sizes="16x19"/>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="../css/owl.transitions.css" rel="stylesheet" type="text/css">
<link href="../css/main.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../css/default.css" />
<link rel="stylesheet" type="text/css" href="../css/component.css" />
<script src="../js/modernizr.custom.js"></script>
<style>
  .inner-pre-courses .inner-pre-wrap .tab-content .tab-pane .course-duration-wrap .course-duration-cont p span, .inner-faculty-wrap .inner-pre-wrap .tab-content .tab-pane .course-duration-wrap .course-duration-cont p span {
    color: #777;
    float: left;
    font-size: 15px;
    font-family: 'RobotoRegular';
    width: 148px;
  }
  .inner-pre-courses .inner-pre-wrap .tab-content .tab-pane figure img, .inner-faculty-wrap .inner-pre-wrap .tab-content .tab-pane figure img {
    width: auto;
    margin: 0 auto;
  }
  header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
</style>
</head>
<body>
<section id="wrapper">
  <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>T.S.RAHAMAN</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
                 <li><a href="http://live.ipms247.com/booking/docs/hostelbooking/book.php"  class="btn-white-book" target="_blank">BOOK ROOM</a></li>
                <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                 <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="../images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
        <li><a href="javascript:;" target="_blank" class="btn-white-book not-click-pop">BOOK ROOM</a></li>
        <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="../images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>
  <section class="banner-inner banner-inner-courses banner-presea-course">
      <div class="certified"><h5><img src="../images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
  </section>
  <div class="container bg-white breadcrumb-wrap">
    <div class="row">
     <ul class="breadcrumb">
        <li><a href="/index"><img src="../images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li><a href="/rcamsar">RCAMSAR</a></li> 
       <li><a href="/courses" class="hide-link">Courses</a></li> 
        <li class="active">Graduate Mechanical Engineering(GME)</li>
      </ul>
    </div>
  </div>
  <section class="inner-pre-courses container pos-rel courses-inner">
  <div class="inner-title-wrap">
        <h2 class="inner-title">RAHAMAN COLLEGE OF ADVANCED <br>MARITIME STUDIES &amp; RESEARCH</h2>
        <h2 class="inner-title">RCAMSAR</h2>
      </div>
    <h1 class="text-uppercase gallery-inner-title">PRE-SEA COURSES</h1>
    <h3>GRADUATE MECHANICAL ENGINEERING(GME)</h3>
    <section class="inner-pre-wrap">
      <div class="tabbable tabs-left">
        <div class="tab-content">
          <div class="tab-pane active" id="gpr">
            <div class="course-duration-wrap">
              <div class="course-duration-cont provi-cont-width">
                <p>12 Months<span>Course duration</span></p>
                <p>4.90 Lakhs (Provisional)<span>Fees</span></p>
              </div>
              <div class="courses-btn-wrap">
              <p class="btn-app-form text-uppercase"><a href="../pdf/catering/presea/application/APPLICATION FORM FOR 26.12.2012 GME.pdf" target="_blank">application form</a></p>
              <p class="btn-app-form btn-prospects text-uppercase"><a href="../pdf/gme_pros.pdf" target="_blank">prospectus</a></p>
              </div>
            </div>
            <article>N/A<!--Established in the year 1910 as an Orphanage by the Late Haji Ismail Yusuf, it was converted to a Marine School and later a College by his eldest son Sir Mohamed Yusuf and has the unique distinction of not only being the first and the only one of its type in South Asia, but also the first to train Indians as Officers for the Merchant Marine. This Nautical Training Institute was later renamed as "Training Ship Rahaman" in 1972 by the late Chairman (Emeritus), Mr. A. Rashid Yusuf, in memory of his father Mr. Abdul Rahaman, the first President of the Managing Board ( and the eldest son of Sir Mohamed Yusuf). This pioneering Establishment has over the last nine decades, served the Marine community with dedication. The Institution conducts Pre Sea Courses besides various other STCW Courses on its premises. The courses are recognised by the Directorate General of Shipping, Ministry of Shipping, Road Transport and Highways, Government of India."--></article>
            
            <!--Accordian-->
            
            <div class="panel-group" id="nested">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor1">RULES AND REGULATION</a></h4>
                </div>
                <div id="courseAccor1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li>The Standing Rules and regulations of the Academy shall be binding on all students. This may be changed without prior intimation to the students.</li>
                      <li>Gold ornaments or other valuable items or any kind of electrical apparatus are not allowed to be kept.</li>
                      <li>Cadets are not allowed to keep more than about Rs. 500/- in cash with them. Excess cash should be deposited with the cashier and can be withdrawn in lots of Rs. 500/-.</li>
                      <li>Uniform is to be worn at all times during training. Hence, very few civilian clothes are to be brought. In case any student found not in the proper uniform, he has to Penalize for the day.</li>
                      <li>Cadets are permitted ‘shore leave’ in uniform only on Sundays between 07.00 and 20.00 hours.</li>
                      <li>Cadets are not allowed to stay out of the campus at night under any circumstances. Parents are instructed not to make any request for the same.</li>
                      <li>Visitors are permitted only on Sundays between 09.00 and 18.00 hours.</li>
                      <li>The use of tobacco and alcohol is strictly prohibited in the Academy. If the candidate is found in alcoholic condition or under drug effect, this would cause immediate rustication from the Academy. The Academy’s decision in this case will be final. No appeal against the decision will entertained from parents or guardians.</li>
                      <li>Long hair, moustaches and beards are not allowed during the period of training. Sikh candidates are exempted from this. </li>
                      <li>The following are prohibited in the hostel <br>
                        <ul>
                          <li>Illegal drugs </li>
                          <li>Gambling</li>
                          <li>Fire arms of any kind </li>
                          <li>Knives</li>
                          <li>Pets or livesock of any description</li>
                        </ul>
                      </li>
                      <li>Special area has been earmarked for Cadets to meet their guests. Guests wishing to meet the cadets are to approach the course instructor / Course Officer (during off work hours). The cadets will be informed, whilst the guest wait in the guest waiting area. Under no circumstances the guest are to proceed to the hostel rooms / class rooms.</li>
                      <li>In case if the student withdrawing from the course in between the Completion period of the course, he has to pay entire amount of the concern course fees. (Either withdrawing himself or rusticated due to major offence).</li>
                      <li>In case of damage or loss of hostel property the cost will be recovered from the students if identified It will be individual otherwise all the student of the hostel room (Individual area) decided by the associate warden.</li>
                      <li>The use of electrical appliances such as immersion heaters, electric stove/ heaters / electric iron are forbidden in any of the rooms allotted for residence. Private cooking in the hostels / student’s room is strictly forbidden. Such appliances, if found will be confiscated and a fine will also be imposed.</li>
                      <li>When the students go out of their room they should switch off all the electrical / electronic appliances, and keep it locked (at all times). Violation will attract suitable penalty and punishment as decided by authorities.</li>
                      <li>Not attending classroom lectures without permission will result in Violation will attract suitable penalty and punishment as decided by authorities.</li>
                      <li>In case the applicant withdraw from the course before commencement of the course or does not report on the day of commencement of course. I or we shall not ask for any refund or transfer of any fees.</li>
                      <li>The college is not responsible if any student/parents paying any money to any agent for admission or placement.</li>
                      <li>All payments must be made in college, at the college counter only and receipts to be obtained for all payments.</li>
                      <li>Disputes are subject to Mumbai jurisdiction.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor3">CAREER PATH</a></h4>
                </div>
                <div id="courseAccor3" class="panel-collapse collapse">
                  <div class="panel-body">
                   <figure><img src="../images/gme_career_path.jpg" class="img-responsive"></figure>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor4">ELIGIBILITY</a></h4>
                </div>
                <div id="courseAccor4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li>Indian National Male/Female holding Indian Passport or applied for Indian Passport</li>
                      <li>Age limits- Age not more than 28 yrs on the date of commencement of the course.</li>
                      <li>A Candidate should hold a Bachelors Degree in Mechanical, Mechanical &amp; Automation &amp; Naval Architecture Engineering after attending a course of 4 years duration, from a UGC recognized University and or approved by AICTE, with minimum marks of 50% in the final year and minimum 50% Marks in English language at 10th or 12th standard or in Degree Examination.</li>
                      <li>Eye Sight 6/6 or 6/12 in each eye or 6/18 in one eye and 6/9 in the better eye. Normal colour vision (tested by Ishihara test chart ) and no colour blindness.</li>
                      <li>Medically fit for Sea service and should produce a certificate to that effect at the time of joining the course from a medical officer approved by Director General of Shipping Govt. of. India OR T. S. Rahaman will carry out Medical Examination by DG approved Medical Officer at the time of joining as per Reg. 1/9 STCW Code.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="faq-toggle-wrap panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#courseAccor7">FAQ's</a></h4>
                </div>
                <div id="courseAccor7" class="panel-collapse collapse">
                  <div class="faq-wrap panel-body">
                          <div class="panel-group" id="nested-sec">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec1">Placement for the last batch 2015-16?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec1" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                              <li>Out of a batch of 20 nos, 16 students were placed through campus selection and other placement.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec2">Is course approved by DG?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec2" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                              <li>Course is Approved by D G Shipping vide their approval letter TR/A/100/2012.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec3">Relaxation of age for SC/ST candidate?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec3" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>Upper age limit is relaxed for SC&amp; ST Candidates by 5 (Five) years.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec4">Is this course residential?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec4" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>This pre sea course is mandatorily residential.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec5">Can a B.Sc (Maths) graduate apply for this course?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec5" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>No.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec6">How much stipend is paid to a GME trainee cadet on board?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec6" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                            <li>Generally this depends on Company to Company, It ranges from USD 300 to 500 pm on Foreign flag vessels. On Indian flag vessels it ranges around INR 15,000/-pm</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec7">What is Merchant Navy?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec7" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>Merchant Ships that carry goods, people or render services of a non military nature constitute the merchant navy.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec8">Is there any education loan available?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec8" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>Yes, once you have been selected by T S Rahaman, we can arrange for banks to give you
                                              education loans at existing market rates. You could also on your own approach a bank of your choice to obtain educational loans at favourable interest rates. At present T S Rahaman has tie up with Bank of India, a nationalized bank.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec9">What is IMU?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec9" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>The IMU or Indian Maritime University was formed by an Act of Parliament; the headquarters of the University is at Chennai with its campuses at Mumbai, Kolkata Chennai and Vishakhapatnam. Further information about IMU can be obtained from their website
                                             <a href="http://www.imu.edu.in/" target="_blank">www.imu.tn.nic.in</a></li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec10">What are cadets? are they some kind of trainees?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec10" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>Yes, you are right. Trainees who train in the deck department to become Navigating officers are called “deck cadets”. Similarly trainee in the Engineering department is called an “engine cadet“ or a “ Engineering Cadet”.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec11">Do we have to sign a bond?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec11" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                            <li>No. T S Rahaman does not ask for a bond.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="faq-ques panel-title"><a  class="collapsed" data-toggle="collapse" data-parent="#nested-sec" href="#courseAccor-sec12">What if i want to give up sailing in the future after becoming a Chief Engineer of a ship?

can I get employment ashore?</a></h4>
                                    </div>
                                    <div id="courseAccor-sec12" class="faq-answer panel-collapse collapse">
                                      <div class="panel-body">
                                            <ul>
                                             <li>There are plenty of jobs available for Chief Engineers ashore in marine related or engineering related fields. These positions carry much prestige and status.</li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                          </div>
                </div>
              </div>

            </div>
            <!--End Accordian-->
          </div>
            <p class="btn-gallry text-center text-uppercase"><a href="http://183.87.148.62:7274/application/index" target="_blank" class="hvr-sweep-to-left book-course-btn"><span>Book Now</span></a></p>
      <!-- /tabs --> 
    </section>
  </section>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <img src="../images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <select class="select-foot">
                  <option selected="selected" hidden>Select</option>
                  <option>Pre Sea (Nautical)</option>
                  <option>Post Sea (STCW)</option>
                  <option>ARACAMH</option>
                  <option>RCAMSAR</option>
              </select>
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="../pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <ul>
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
</section>
  <div class="pop-not-click">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <h1>Hostel Booking</h1>
        <article>Hostel booking can be done when coming for the course.</article>
      </div>
    </div>
  </div>
<script src="../js/jquery-1.11.3.js"></script> 
<script src="../js/bootstrap.js"></script> 
<script src="../js/jquery.dlmenu.js"></script> 
<script src="../js/owl.carousel.min.js"></script> 
<script src="../js/main.js"></script>
<script type="text/javascript">
    $('.hide-link').html(sessionStorage.username);
   sessionStorage.clear();
</script> 
<script>

$(document).ready(function() {
  $('.courses-inner .panel-title').click(function(){
      if($(this).hasClass('active')){
        $(this).removeClass('active');
      }
      else 
      {   

        $('.courses-inner .panel-title').removeClass('active');
          $(this).addClass('active');
      }
  });

  //$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

  $(".tsr_gallery").owlCarousel({
 
      //autoPlay: 3000, //Set AutoPlay to 3 seconds 
      navigation : true,
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });

  $('.faq-expand').hide();

  $('.faq').click(function(){
    $(this).next('.faq-expand').slideToggle();
    $(this).parent().siblings().children().next().slideUp();
    return false;
  })

	//$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

	(function($) {

	 "use strict"

	 

	 // Accordion Toggle Items

	   var iconOpen = 'fa fa-minus',

			iconClose = 'fa fa-plus';

	

		$(document).on('show.bs.collapse hide.bs.collapse', '.accordion', function (e) {

			var $target = $(e.target)

			  $target.siblings('.accordion-heading')

			  .find('em').toggleClass(iconOpen + ' ' + iconClose);

			  if(e.type == 'show')

				  $target.prev('.accordion-heading').find('.accordion-toggle').addClass('active');

			  if(e.type == 'hide')

				  $(this).find('.accordion-toggle').not($target).removeClass('active');

		});

		

	})(jQuery);



});



</script>
</body>
</html>
