<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>RCAMSAR Gallery</title>
<link rel="icon" type="image/png" href="images/favicon.png" sizes="16x19"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/default.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" href="css/venobox.css" type="text/css" media="screen" />
<script src="js/modernizr.custom.js"></script>
<style>
.isotope {
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -ms-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
}
.depart-gallery .button-group .button-main {
    width: 24.8%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    }
    header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
</style>
</head>
<body>
<!--<div class="master-preloader"></div>-->
<section id="wrapper">
  <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsarl"><img src="images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="images/arach-logo.jpg"><p>ARACAH</p></a></li>
          <li><a href="http://lkmschool.org/"><img src="images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
                <li><a href="https://live.ipms247.com/booking/book-rooms-sirmohamedyusufseamenwelfarefoundation" target="_blank" class="btn-white-book" target="_blank">BOOK ROOM</a></li>
        <li><a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
        <li><a href="https://live.ipms247.com/booking/book-rooms-sirmohamedyusufseamenwelfarefoundation" target="_blank" class="btn-white-book" target="_blank">BOOK ROOM</a></li>
        <li><a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar"><img src="images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="images/arach-logo.jpg"><p>ARACAH</p></a></li>
          <li><a href="http://lkmschool.org/"><img src="images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>
  
  <section class="banner-inner banner-inner-courses banner-gallery banner-rcamsar-gallery">
    <div class="certified"><h5><img src="images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
  </section>   
  <div class="container breadcrumb-wrap bg-white">
    <div class="row">
      <ul class="breadcrumb">
        <li><a href="/index"><img src="images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li><a href="/rcamsar">RCAMSAR</a></li>
        <li class="active">Gallery</li>
      </ul>
    </div>
  </div>
   <div class="container">
  <section class="courses-tsr inner-tsr-courses inner-courses pos-rel depart-gallery">
   
    <div class="inner-title-wrap">
        <h2 class="inner-title">GALLERY</h2>
        <h2 class="inner-title">GALLERY</h2>
      </div>
      <h5 class="gallery-inner-title text-uppercase">rcamsar</h5>
    <div class="row col-sm-12 hidden-xs hidden-sm col-md-3 col-lg-3 padding-zero">
    <div class="panel-group gallery-tabs" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="click-tab" href="/gallery">Common Gallery</a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="click-tab" data-parent="#accordion" href="/tsr_gallery">TSR Gallery</a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class="click-tab active" data-parent="#accordion" id="gme">RCAMSAR Gallery</a>
        </h4>
      </div>
      <!--<div id="collapse2" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="sub-postsea gallery-left-tabs">
               <li class="sub-tsr">
                <div class="filters-button-group gallery-expand-menu">
            <ul class="button-group button-gallery gallery-left-tabs text-uppercase">
            <li class="active"><a class="tab-gal" href="#gme" data-toggle="tab" aria-controls="gme" role="tab"><span>GRADUATE MECHANICAL ENGINEERING(GME)</span></a></li>
            <li><a class="tab-gal" href="#fpff" data-toggle="tab" aria-controls="fpff" role="tab"><span>Fire Fighting and Fire Prevention Course (FPFF COURSE)</span></a></li>
            <li><a class="tab-gal" href="#aff" data-toggle="tab" aria-controls="aff" role="tab"><span>ADVANCE FIRE FIGHTING COURSE(AFF)</span></a></li>
            <li><a class="tab-gal" href="#ref_fpff" data-toggle="tab" aria-controls="ref_fpff" role="tab"><span>REFRESHER COURSE FOR FIRE PREVENTION &
            FIRE FIGHTING(FPFF-REF)</span></a></li>
            <li><a class="tab-gal" href="#ref_aff" data-toggle="tab" aria-controls="ref_aff" role="tab"><span>REFRESHER COURSE in ADVANCE FIRE FIGHTING. (AFF-REF)</span></a></li>
            <li><a class="tab-gal" href="#tasco" data-toggle="tab" aria-controls="tasco" role="tab"><span>Specialized course in Oil Tanker Operations(TASCO)</span></a></li>
            <li><a class="tab-gal" href="#meo2" data-toggle="tab" aria-controls="meo2" role="tab"><span>MEO CL II PREPARATORY COURSE</span></a></li>
            <li><a class="tab-gal" href="#meo4" data-toggle="tab" aria-controls="meo4" role="tab"><span>MEO CL IV PREPARATORY COURSE</span></a></li>
            <li><a class="tab-gal" href="#rce" data-toggle="tab" aria-controls="rce" role="tab"><span>REVALIDATION COURSE FOR ENGINEERS</span></a></li>
            </ul>
                </div>
              </li> 
          </ul>
        </div>
      </div>-->
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="click-tab" data-parent="#accordion" href="/aracah_gallery">ARACAMH Gallery</a>
        </h4>
      </div>
    </div>
    </div>
    </div>
  </div>
      <!--div class="filters-button-group">
        <ul class="button-group button-gallery text-uppercase">
          <li class="button button-main is-checked" data-filter=".gme"><span>GRADUATE MECHANICAL ENGINEERING(GME)</span></li>
          <li class="button button-main" data-filter=".fpff"><span>Fire Fighting and Fire Prevention Course (FPFF COURSE)</span></li>
          <li class="button button-main" data-filter=".aff"><span>ADVANCE FIRE FIGHTING COURSE(AFF)</span></li>
          <li class="button button-main" data-filter=".ref_fpff"><span>REFRESHER COURSE FOR FIRE PREVENTION &
          FIRE FIGHTING(FPFF-REF) </span></li>
          <li class="button button-main" data-filter=".ref_aff"><span>REFRESHER COURSE in ADVANCE FIRE FIGHTING. (AFF-REF)</span></li>
          <li class="button button-main" data-filter=".tasco"><span>Specialized course in Oil Tanker Operations(TASCO)</span></li>
          <li class="button button-main" data-filter=".meo2"><span>MEO CL II PREPARATORY COURSE</span></li>
          <li class="button button-main" data-filter=".meo4"><span>MEO CL IV PREPARATORY COURSE</span></li>
          <li class="button button-main" data-filter=".rce"><span>REVALIDATION COURSE FOR ENGINEERS</span></li>
        </ul>
      </div-->
      <div class="row col-sm-12 col-md-9 col-lg-9 padding-zero gallery-wrap" style="padding: 0 0 0 50px">
      <!--<select class="button-group filters-select text-uppercase">
      <!--<option class="button is-checked" value=":not(.transition)"><span>all gallery</span></option>
        <option class="button" value="0"><span>GRADUATE MECHANICAL ENGINEERING(GME)</span></option>
        <option class="button" value="1"><span>Fire Fighting and Fire Prevention Course (FPFF COURSE)</span></option>
         <option class="button" value="2"><span>ADVANCE FIRE FIGHTING COURSE(AFF)</span></option> 
         <option class="button" value="3"><span>REFRESHER COURSE FOR FIRE PREVENTION &
          FIRE FIGHTING(FPFF-REF) </span></option>
          <option class="button" value="4"><span>REFRESHER COURSE in ADVANCE FIRE FIGHTING. (AFF-REF)</span></option> 
          <option class="button" value="5"><span>Specialized course in Oil Tanker Operations(TASCO)</span></option> 
          <option class="button" value="6"><span>MEO CL II PREPARATORY COURSE</span></option> 
          <option class="button" value="7"><span>MEO CL IV PREPARATORY COURSE</span></option> 
          <option class="button" value="8"><span>REVALIDATION COURSE FOR ENGINEERS</span></option> 
      </select> 
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#gme">Home</a></li>
        <li><a href="#fpff">Profile</a></li>
        <li><a href="#aff">Profile</a></li>
        <li><a href="#ref_fpff">Profile</a></li>
        <li><a href="#ref_aff">Profile</a></li>
        <li><a href="#tasco">Profile</a></li>
        <li><a href="#meo2">Profile</a></li>
        <li><a href="#meo4">Profile</a></li>
        <li><a href="#rce">Profile</a></li>
      </ul>
      <div class="grid grid-main margin-grid">
        <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="gme">-->
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_1.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_1.jpg"></a> </div>
        </div>
       <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_2.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_2.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_3.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_3.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_4.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_4.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_5.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_5.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_6.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_6.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_7.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_7.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_8.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_8.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_9.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_9.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_10.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_10.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_11.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_11.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_12.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_12.jpg"></a> </div>
        </div>

        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_13.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_13.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_14.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_14.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_15.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_15.jpg"></a> </div>
        </div>

        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_16.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_16.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/gme/thumb/gme_17.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery5" href="images/rcamsar/gme/gme_17.jpg"></a> </div>
        </div>
        
        
        <!--<div class="tab-pane fade" role="tabpanel" id="fpff">-->
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/fpff/thumb/fpff_1.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery6" href="images/rcamsar/fpff/fpff_1.jpg"></a> </div>
        </div>
      <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/fpff/thumb/fpff_2.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery6" href="images/rcamsar/fpff/fpff_2.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/fpff/thumb/fpff_3.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery6" href="images/rcamsar/fpff/fpff_3.jpg"></a> </div>
        </div>
       <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/fpff/thumb/fpff_4.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery6" href="images/rcamsar/fpff/fpff_4.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/fpff/thumb/fpff_5.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery6" href="images/rcamsar/fpff/fpff_5.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/fpff/thumb/fpff_6.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery6" href="images/rcamsar/fpff/fpff_6.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/fpff/thumb/fpff_7.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery6" href="images/rcamsar/fpff/fpff_7.jpg"></a> </div>
        </div>
        <!--</div>-->
        <!--<div class="tab-pane fade" role="tabpanel" id="aff">-->
      <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_1.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_1.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_2.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_2.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_3.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_3.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_4.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_4.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_5.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_5.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_6.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_6.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_7.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_7.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_8.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_8.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/aff/thumb/aff_9.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery7" href="images/rcamsar/aff/aff_9.jpg"></a> </div>
        </div>
        <!--</div>-->
        <!--<div class="tab-pane fade" role="tabpanel" id="ref_fpff">-->
         <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/imu/09_thumb.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery8" href="images/imu/09.jpg"></a> </div>
        </div>
        <!--</div>-->
        <!--<div class="gallery-info gallery gallery-main element-item post-transition ref_fpff" data-category="post-transition">
          <figure><img src="images/gallery/school/thumb/01.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery" href="images/gallery/school/01.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition ref_fpff" data-category="post-transition">
          <figure><img src="images/gallery/school/thumb/02.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery" href="images/gallery/school/02.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition ref_fpff" data-category="post-transition">
          <figure><img src="images/gallery/school/thumb/03.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery" href="images/gallery/school/03.jpg"></a> </div>
        </div>-->
        <!--<div class="tab-pane fade" role="tabpanel" id="ref_aff">-->
       <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/gallery/school/thumb/04.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery9" href="images/gallery/school/04.jpg"></a> </div>
        </div>
        <!--</div>-->
      <!--  <div class="gallery-info gallery gallery-main element-item post-transition ref_aff" data-category="post-transition">
          <figure><img src="images/gallery/school/thumb/05.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery" href="images/gallery/school/05.jpg"></a> </div>
        </div>

        <div class="gallery-info gallery gallery-main element-item post-transition ref_aff" data-category="post-transition">
          <figure><img src="images/gallery/museum/thumb/01.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery" href="images/gallery/museum/01.jpg"></a> </div>
        </div>-->
       <!-- <div class="tab-pane fade" role="tabpanel" id="tasco">-->
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/tasco/thumb/tasco1_1.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery10" href="images/rcamsar/tasco/tasco_1.jpg"></a> </div>
        </div>
       <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/tasco/thumb/tasco2_2.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery10" href="images/rcamsar/tasco/tasco_2.jpg"></a> </div>
        </div>
        <!--</div>-->
        <!--<div class="gallery-info gallery gallery-main element-item post-transition tasco" data-category="post-transition">
          <figure><img src="images/gallery/museum/thumb/04.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery" href="images/gallery/museum/04.jpg"></a> </div>
        </div>-->
       <!-- <div class="tab-pane fade" role="tabpanel" id="meo2">-->
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo2/thumb/meo_1.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery11" href="images/rcamsar/meo2/meo_1.jpg"></a> </div>
        </div>
         <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo2/thumb/meo_2.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery11" href="images/rcamsar/meo2/meo_2.jpg"></a> </div>
        </div>
         <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo2/thumb/meo_3.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery11" href="images/rcamsar/meo2/meo_3.jpg"></a> </div>
        </div>
         <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo2/thumb/meo_4.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery11" href="images/rcamsar/meo2/meo_4.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo2/thumb/meo_5.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery11" href="images/rcamsar/meo2/meo_5.jpg"></a> </div>
        </div>
         <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo2/thumb/meo_6.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery11" href="images/rcamsar/meo2/meo_6.jpg"></a> </div>
        </div>
         <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo2/thumb/meo_7.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery11" href="images/rcamsar/meo2/meo_7.jpg"></a> </div>
        </div>
        <!--</div>-->
        <!--<div class="tab-pane fade" role="tabpanel" id="meo4">-->
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo4/thumb/meo_1.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery12" href="images/rcamsar/meo4/meo_1.jpg"></a> </div>
        </div>
      <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo4/thumb/meo_2.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery12" href="images/rcamsar/meo4/meo_2.jpg"></a> </div>
        </div>
       <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo4/thumb/meo_3.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery12" href="images/rcamsar/meo4/meo_3.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/meo4/thumb/meo_4.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery12" href="images/rcamsar/meo4/meo_4.jpg"></a> </div>
        </div>
       <!-- </div>-->
        <!--<div class="tab-pane fade" role="tabpanel" id="rce">-->
         <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/thumb/rce_1.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery13" href="images/rcamsar/rce/rce_1.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/thumb/rce_2.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery13" href="images/rcamsar/rce/rce_2.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/thumb/rce_3.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery13" href="images/rcamsar/rce/rce_3.jpg"></a> </div>
        </div>
        <!--<div class="gallery-info gallery gallery-main element-item post-transition rce" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/rce_(4).jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery" href="images/rcamsar/rce/rce_(4).jpg"></a> </div>
        </div>-->
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/thumb/rce_5.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery13" href="images/rcamsar/rce/rce_5.jpg"></a> </div>
        </div>
        <!--<div class="gallery-info gallery gallery-main element-item post-transition rce" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/rce_(6).jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery" href="images/rcamsar/rce/rce_(6).jpg"></a> </div>
        </div>-->
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/thumb/rce_7.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery13" href="images/rcamsar/rce/rce_7.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/thumb/rce_8.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery13" href="images/rcamsar/rce/rce_8.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/thumb/rce_9.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery13" href="images/rcamsar/rce/rce_9.jpg"></a> </div>
        </div>
        <div class="gallery-info gallery gallery-main element-item post-transition gme" data-category="post-transition">
          <figure><img src="images/rcamsar/rce/thumb/rce_10.jpg" class="img-responsive" alt=""/></figure>
          <div class="overlay-gallery"> <a class="venobox" data-gall="myGallery13" href="images/rcamsar/rce/rce_10.jpg"></a> </div>
        </div>
        <!--</div>-->
      </div>
      </div>
      </div>
      </div>
      <div class="row col-sm-12 col-xs-12 hidden-md hidden-lg padding-zero">     
       <div class="catering-main-cont">
        <h1>Department Gallery</h1>
        <ul class="text-uppercase"> 
          <li><a href="/tsr_gallery"><i class="bg-green"></i><span class="cater-facilty">TSR</span></a></li>
          <!--li><a href="rcamsar_gallery.html"><i class="bg-green"></i><span class="cater-facilty">RCAMsaR</span></a></li-->
          <li><a href="/aracah_gallery"><i class="bg-green"></i><span class="cater-faculty">ARACAMH</span></a></li>
          <!--li><a href="tsr_postsea_basic.html"><i class="bg-orange" style="background:#95b667;"></i><span class="cater-faq">Basic STCW Courses</span></a></li>
          <li><a href="tsr_postsea_advanced.html"><i class="bg-orange" style="background:#b4c64e;"></i><span class="cater-gallery">Advanced STCW Courses</span></a></li>
          <li><a href="tsr_postsea_refresher.html"><i class="bg-orange" style="background:#ded83a;"></i><span class="cater-placement">Refresher Updation Courses</span></a></li>
          <li><a href="http://59.185.107.58/tsr1/postseacourse.aspx#" target="_blank"><i class="bg-orange" style="background:#dd4546;"></i><span class="cater-alumni">Offshore Course</span></a></li-->
        </ul>
      </div>
      </div>
  </section>
    </div>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="" class=""></a></li>
              <li><a href="" class=""></a></li>
              <li><a href="" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <img src="images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="../pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
  </section>
</section>
<script src="js/jquery-1.11.3.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/isotope.pkgd.js"></script> 
<script src="js/jquery.dlmenu.js"></script> 
<script src="js/venobox.js"></script> 
<script src="js/main.js"></script> 
<script>

  $( function() {
    $('.tsr-gallery-toggle').click(function(){
      $('.sub-tsr .gallery-expand-menu').slideToggle();
    });
    
   
     $('.filters-select').on('change', function(e){
    $('#myTab li a').eq($(this).val()).tab('show');
   });

  });

  $(document).ready(function(){
    $("#tsrTicker").ticker({ 
      effect: "slideUp", 
      interval: 4000,
      duration: 200
    });
     $('.venobox').venobox(); 

  });
 $(window).load(function()
{
(function(a){a.preload=function(){var d=Object.prototype.toString.call(arguments[0])==="[object Array]"?arguments[0]:arguments;
var c=[];var b=d.length;for(;b--;){c.push(a("<img />").attr("src",d[b]));}};})(jQuery); 
$.preload('images/other_menu.png', 'images/other_menu-hover.png' );
 }); 
  
</script>
</body>
</html>
