<!doctype html>
<html lang="en-US">
<head>
<title>Play Grounds</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" type="image/png" href="../images/favicon.png" sizes="16x19"/>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/main.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../css/default.css" type="text/css"/>
<link rel="stylesheet" href="../css/component.css" type="text/css"/>
<!-- Owl Carousel Assets -->
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/owl.theme.css" rel="stylesheet">
<script src="js/modernizr.custom.js"></script>
<style type="text/css">
.inner-about-wrap .inner-title-wrap {
    margin: 30px 0 30px;
}
.inner-about-wrap .innner-abt-article p {
  text-align: justify;
  }
header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
</style>
</head>
<body>
<section id="wrapper">
  <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="../images/tsr-logo.png"><p>T.S.RAHAMAN</p></a></li>
          <li><a href="/rcamsar"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://lkmschool.org/"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
                <li><a href="javascript:;"  class="btn-white-book not-click-pop" title="Hostel booking can be done when coming for the course">BOOK ROOM</a></li>
                <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about" class="active">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="../images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="../images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
        <li><a href="javascript:;"  class="btn-white-book not-click-pop" title="Hostel booking can be done when coming for the course">BOOK ROOM</a></li>
                <li><a href="http://183.87.148.62:7274/application/index" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a></li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr" title="TRAINING SHIP RAHAMAN"><img src="../images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar" title="RAHAMAN COLLEGE OF ADVANCED MARITIME STUDIES & RESEARCH"><img src="../images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah" title="ABDUL RASHID ACADEMY OF CULINARY ARTS & MARITIME HOSPITALITY"><img src="../images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" title="LKM School" target="_blank"><img src="../images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
               <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="../images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="../images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>
  <section class="banner-inner banner-inner-news banner-about">
    <div class="certified"><h5><img src="../images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
  </section>
  <div class="container bg-white breadcrumb-wrap">
    <div class="row">
      <ul class="breadcrumb">
        <li><a href="/index"><img src="../images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li><a href="/facility">Facility</a></li>
        <li class="active">Play Grounds</li>
      </ul>
    </div>
  </div>
  <section class="inner-pre-courses container pos-rel museum-new-wrap">
      
  <section class="inner-about-wrap">
    <div class="container bg-white">
      <div class="inner-title-wrap">
        <h2 class="inner-title">SPORTS</h2>
        <h2 class="inner-title">SPORTS</h2>
      </div>
      <h1 class="text-uppercase">Playgrounds & Sports Facilities</h1>
      <div class="innner-abt-article history-margin">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-zero pad-history">
            <p>The Campus boasts of basketball and Volleyball cemented courts. Sports such as athletics, Passing out Parades and other mass sports events are organised on the playground adjacent to the Campus. This Playground could be seen in the aerial view of the campus</p>
            <p style="font-weight: bold;"><a href="https://www.youtube.com/embed/YiZy7aA-ANI">https://www.youtube.com/embed/YiZy7aA-ANI</a></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-zero text-right">
            <figure><img src="../images/facility/play1.jpg"></figure>
        </div>
      </div>
      <h1 class="text-uppercase">Indoor Games</h1>
      <div class="innner-abt-article history-margin">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-zero pad-history">
            <p>Pool table, Table Tennis, Chess and Carom boards are available in the Hostels for recreation purposes.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-zero text-right">
            <figure><img src="../images/facility/play2.jpg"></figure>
        </div>
      </div>
      <h1 class="text-uppercase">Gymnasium</h1>
      <div class="innner-abt-article history-margin">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-zero pad-history">
            <p>A fully furnished air conditioned Gymnasium is available in the Campus for a subscription of mere Rs. 300/- per month. A qualified Physical trainer has been specially employed to supervise physical exercise regime of the members.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-zero text-right">
            <figure><img src="../images/facility/play3.jpg"></figure>
        </div>
      </div>
    </div>
  </section>
  </section>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <img src="../images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <select class="select-foot">
                  <option selected="selected" hidden>Select</option>
                  <option>Pre Sea (Nautical)</option>
                  <option>Post Sea (STCW)</option>
                  <option>ARACAMH</option>
                  <option>RCAMSAR</option>
              </select>
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="../pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <ul>
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
  
</section>
  <div class="pop-not-click">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <h1>Hostel Booking</h1>
        <article>Hostel booking can be done when coming for the course.</article>
      </div>
    </div>
  </div>
<script src="../js/jquery-1.11.3.js"></script> 
<script src="../js/bootstrap.js"></script> 
<script src="../js/jquery.dlmenu.js"></script> 
<script src="../js/main.js"></script> 
<script src="../js/owl.carousel.min.js"></script>
</body>
</html>
