<!doctype html>
<html lang="en-US">
<head>
<title>Contact Us</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="icon" type="image/png" href="images/favicon.png" sizes="16x19"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="css/reset.css" rel="stylesheet" type="text/css"/>
<link href="css/main.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/default.css"/>
<link rel="stylesheet" type="text/css" href="css/component.css"/>
<script src="js/modernizr.custom.js"></script>
<style>
.inner-contact .inner-contact-footer {
	/*margin: 500px 0 0;*/
	margin: 20px 0 0;
}
header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
.map
  {
    background: url(images/map.jpg) no-repeat center;
    background-size: cover; 
  }
</style>
</head>
<body>
<section id="wrapper">
 <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="images/tsr-logo.png"><p>T.S.RAHAMAN</p></a></li>
          <li><a href="/rcamsar"><img src="images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
               <li><a href="http://live.ipms247.com/booking/docs/hostelbooking/book.php"  class="btn-white-book" target="_blank">BOOK ROOM</a></li>
        <!-- <li>
                  <a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a>
                </li> -->
                <li>
                  <a href="http://183.87.148.62:7274/application/index" class="btn-white-book" target="_blank">BOOK COURSE ONLINE</a>
                </li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
           <!-- <div class="alumni"><li><a href="/alumni" class="btn-white-book">ALUMNI</a></li>
           </div>-->
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact" class="active">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
       <li><a href="javascript:;"  class="btn-white-book not-click-pop" title="Hostel booking can be done when coming for the course">BOOK ROOM</a></li>
        <!-- <li>
                  <a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a>
                </li> -->
                <li>
                  <a href="http://183.87.148.62:7274/application/index" class="btn-white-book" target="_blank">BOOK COURSE ONLINE</a>
                </li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr" title="TRAINING SHIP RAHAMAN"><img src="images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar" title="RAHAMAN COLLEGE OF ADVANCED MARITIME STUDIES & RESEARCH"><img src="images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah" title="ABDUL RASHID ACADEMY OF CULINARY ARTS & MARITIME HOSPITALITY"><img src="images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank" title="LKM School"><img src="images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>

  <section class="banner-inner banner-inner-contact banner-contact">
      <div class="certified"><h5><img src="images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
  </section>
  <div class="container bg-white breadcrumb-wrap">
    <div class="row">
      <ul class="breadcrumb">
        <li><a href="/index"><img src="images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li class="active">Contact</li>
      </ul>
    </div>
  </div>
  <section class="contact-tsr inner-contact">
  
    <div class="container bg-white">
    <div class="inner-title-wrap margin-tp-40">
        <h2 class="inner-title">CONTACT US</h2>
        <h2 class="inner-title">CONTACT US</h2>
      </div>
      <div class="inner-contact-cont row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contact-enquiry">
            <h1 class="inner-header">Enquiry</h1>
            <form>
              <div class="contact-input-box col-md-6 col-lg-6">
                <p class="parallelogram-input">
                  <input type="text" placeholder="Name">
                </p>
                <p class="parallelogram-input">
                  <input type="text" placeholder="Email">
                </p>
                <p class="parallelogram-input">
                  <input type="text" placeholder="Phone">
                </p>
              </div>
              <div class="contact-textarea-box col-md-6 col-lg-6">
                <p class="parallelogram-text">
                  <textarea placeholder="Message"></textarea>
                </p>
              </div>
              <p class="text-uppercase btn-signup text-left"><a href="#" class="btn-green"><span>submit</span></a></p>
            </form>

          </div>
          <div class="hidden-md col-lg-1 separate-line"><span></span></div>
          <div class="col-md-3 col-lg-3 inner-contact-address">
            <div>
              <h1 class="inner-header">Contact</h1>
              <ul>
                <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
                <li>Nhava, Panvel, Raigarh, </li>
                <li>Maharashtra 410206, India</li>
              </ul>
              <ul class="contact-latest-address">
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            </div>
            <div>
              <h1 class="social-network inner-header">Social Network</h1>
              <ul class="foo-social-group">
                <li><a href="" class=""></a></li>
                <li><a href="" class=""></a></li>
                <li><a href="" class=""></a></li>
              </ul>
            </div>
          </div>
      </div>
        <div class="home-contact-wrap first">
          <div class="contact-details1">
            <h1>T. S. Rahaman Campus</h1>
            <ul>
              <li>+91 22 27212800/900</li>
            </ul>
            <p><a href="mailto: administrator@tsrahaman.org">administrator@tsrahaman.org</a></p>
          </div>
          <div class="contact-details4">
            <h1>RCAMSAR (Engineering)</h1>
            <ul>
              <li>+91 27212806 / 27212816</li>
            </ul>
            <p><a href="mailto:booking.rcamsar@tsrahaman.org">booking.rcamsar@tsrahaman.org</a></p>
          </div>
        <div class="contact-details4">
          <h1>ARACAMH</h1>
          <ul>
            <li>+91 022- 27212923 / 921</li>
          </ul>
          <p><a href="mailto:booking.cmch@tsrahaman.org">booking.cmch@tsrahaman.org</a></p>
        </div>
          <div class="contact-details2">
            <h1>LKM School</h1>
            <ul>
              <li>+91 22 27212938</li>
            </ul>
            <p><a href="mailto:lkm@tsrahaman.org">lkm@tsrahaman.org</a></p>
          </div>
        </div>
        <div class="home-contact-wrap sec">
          <div class="contact-details2">
            <h1>T. S. Rahaman Principal</h1>
            <ul>
              <li>+91 22 27212802</li>
            </ul>
            <p><a href="mailto:tsrahaman@tsrahaman.org">tsrahaman@tsrahaman.org</a></p>
          </div>
          <div class="contact-details2">
            <h1>Pre Sea (Nautical)</h1>
            <ul>
              <li>+91 22 27212828 / 873</li>
            </ul>
            <p><a href="mailto:booking.presea@tsrahaman.org">booking.presea@tsrahaman.org</a></p>
          </div>
        <div class="contact-details4">
          <h1>Post Sea (STCW)</h1>
          <ul>
            <li>+91 22 27212940 / 941 / 911</li>
          </ul>
          <p><a href="mailto:booking.stcw@tsrahaman.org">booking.stcw@tsrahaman.org</a></p>
        </div>
        <div class="contact-details4 hde-640" style="opacity: 0;z-index: -1;">
          <h1>Post Sea (STCW)</h1>
          <ul>
            <li>+91 22 27212940 / 941 / 911</li>
          </ul>
          <p><a href="javascript:void(0)">booking.stcw@tsrahaman.org</a></p>
        </div>
        </div>
    <div class="map-tsr">
        <div class="map-form">
        <form>
          <p><label>From</label><input type="text" placeholder="Enter Your Location"></p>
          <p><label>To</label><input type="text" placeholder="T.S. Rahaman Campus - Nhava"></p>
          <p><label></label><button type="submit" class="btn-green"><a href="https://www.google.co.in/maps/dir//T.S+Rahaman+Campus,+Nhava,+Panvel,+Raigarh,+Maharashtra+410206/@15.6984616,72.1236942,6z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3be7c4c83a989e0d:0xa9897edbb723b7cc!2m2!1d72.970047!2d18.9641317" target="_blank">GETTING THERE</a></button></p>
        </form>
      </div>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
      <div style="overflow:hidden;height:300px;width:100%;" class="map">
       </div>
       </div>
  </section>

    </div>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
             <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>

            </ul>
            <img src="images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <select class="select-foot">
                  <option selected="selected" hidden>Select</option>
                  <option>Pre Sea (Nautical)</option>
                  <option>Post Sea (STCW)</option>
                  <option>ARACAMH</option>
                  <option>RCAMSAR</option>
              </select>
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <ul>
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
</section>
  <div class="pop-not-click">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <h1>Hostel Booking</h1>
        <article>Hostel booking can be done when coming for the course.</article>
      </div>
    </div>
  </div>
<script src="js/jquery-1.11.3.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/jquery.dlmenu.js"></script> 
<script src="js/main.js"></script>
</body>
</html> 