<!doctype html>
<html lang="en-US">
<head>
<title>Facility</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="icon" type="image/png" href="images/favicon.png" sizes="16x19"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="css/reset.css" rel="stylesheet" type="text/css"/>
<link href="css/main.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/default.css"/>
<link rel="stylesheet" type="text/css" href="css/component.css"/>
<script src="js/modernizr.custom.js"></script>
<style>
.inner-contact .inner-contact-footer {
	/*margin: 500px 0 0;*/
	margin: 20px 0 0;
}
header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
</style>
</head>
<body>
<section id="wrapper">
  <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="images/tsr-logo.png"><p>T.S.RAHAMAN</p></a></li>
          <li><a href="/rcamsar"><img src="images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/"><img src="images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
               <li><a href="http://live.ipms247.com/booking/docs/hostelbooking/book.php"  class="btn-white-book" target="_blank">BOOK ROOM</a></li>
          <!-- <li>
                  <a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a>
                </li> -->
                <li>
                  <a href="http://183.87.148.62:7274/application/index" class="btn-white-book" target="_blank">BOOK COURSE ONLINE</a>
                </li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
        <li><a href="javascript:;"  class="btn-white-book not-click-pop" title="Hostel booking can be done when coming for the course">BOOK ROOM</a></li>
        <!-- <li>
                  <a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a>
                </li> -->
                <li>
                  <a href="http://183.87.148.62:7274/application/index" class="btn-white-book" target="_blank">BOOK COURSE ONLINE</a>
                </li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr" title="TRAINING SHIP RAHAMAN"><img src="images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar" title="RAHAMAN COLLEGE OF ADVANCED MARITIME STUDIES & RESEARCH"><img src="images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah" title="ABDUL RASHID ACADEMY OF CULINARY ARTS & MARITIME HOSPITALITY"><img src="images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank" title="LKM School"><img src="images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>

  <section class="banner-inner banner-inner-news banner-about">
      <div class="certified"><h5><img src="images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
  </section>
  <div class="container bg-white breadcrumb-wrap">
    <div class="row">
      <ul class="breadcrumb">
        <li><a href="/index"><img src="images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li class="active">Facility</li>
      </ul>
    </div>
  </div>
  <section class="contact-tsr inner-contact">
    <div class="container bg-white">
          <section class="home-course-wrap facility-new-wrap">
    <div class="container bg-gray">
    <h1 class="text-center"><img src="images/why-choose-tsr.png" alt=""/></h1>
    <div class="courses">
      <div class="course">
        <img src="images/facility/museum_thumb.jpg">
        <p class="text-center">Marine Museum</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>The Museum owes its existence to the efforts of late Sir Mohamed Yusuf...</article>
          <a class="read-facility" href="/facility/museum">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/hospital_thumb.jpg">
        <p class="text-center">Fatima Banu Hospital</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>Fatima Banu Hospital was born out of the
philanthropic disposition of Sir...</article>
          <a class="read-facility" href="/facility/hospital">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/library_thumb.jpg">
        <p class="text-center">GC Library</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>George Campbell Reference Library was established in the year 1998 with...</article>
          <a class="read-facility" href="/facility/library">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/security_thumb.jpg">
        <p class="text-center">Security Services</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>The Campus is closely guarded by its complements of Security guards...</article>
          <a class="read-facility" href="/facility/security">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/transport_thumb.jpg">
        <p class="text-center">Transportation</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>The Foundation transport fleet consists of buses and small cars. this fleet...</article>
          <a class="read-facility" href="/facility/transport">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/catering_thumb.jpg">
        <p class="text-center">Catering</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>The Foundation has independent Catering and Housekeeping Departments...</article>
          <a class="read-facility" href="/facility/catering">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/farm_thumb.jpg">
        <p class="text-center">Dairy<br/> &amp; Poultry form</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>The Campus is self sufficient in its requirement of Dairy and Poultry...</article>
          <a class="read-facility" href="/facility/farm">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/laundry_thumb.jpg">
        <p class="text-center">Housekeeping <br/>&amp; Laundry</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>This department looks after the cleaning and maintenance of various...</article>
          <a class="read-facility" href="/facility/laundry">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/broadband_thumb.jpg">
        <p class="text-center">Brodband &amp;<br/> Wifi Conectivity</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>The Campus has taken two leased circuits on hire. a 10 Mbps...</article>
          <a class="read-facility" href="/facility/broadband">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/banking_thumb.jpg">
        <p class="text-center">Banking Facility</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>An extension counter of Bank of India is currently accommodated...</article>
          <a class="read-facility" href="/facility/banking">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/playground_thumb.jpg">
        <p class="text-center">Play grounds</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>Pool table, Table Tennis, Chess and Carom boards are available in the...</article>
          <a class="read-facility" href="/facility/playground">read more</a>
          </div>
        </h6>
      </div>
      <div class="course">
        <img src="images/facility/hostel_thumb.jpg">
        <p class="text-center">Hostels</p>
        <h6 class="course-title">
          <div class="course-link-overlay">
              <article>The Campus has separate Hostels for Pre Sea and Post Sea Course candidates...</article>
          <a class="read-facility" href="/facility/hostel">read more</a>
          </div>
        </h6>
      </div>
    </div>
    </div>  
  </section>
  
    </div>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
            <img src="images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <select class="select-foot">
                  <option selected="selected" hidden>Select</option>
                  <option>Pre Sea (Nautical)</option>
                  <option>Post Sea (STCW)</option>
                  <option>ARACAMH</option>
                  <option>RCAMSAR</option>
              </select>
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <ul>
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
  
</section>
<script src="js/jquery-1.11.3.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/jquery.dlmenu.js"></script> 
<script src="js/main.js"></script>
<script>
  $(function(){
      $('.home-course-wrap.facility-new-wrap .courses .course .course-title').click(function(){
      var href = $(this).children().find('a').attr('href');
      window.location = href;
    });
  });
</script>
</body>
</html> 