<!doctype html>
<html lang="en-US">
<head>
<title>Faculty</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="icon" type="image/png" href="images/favicon.png" sizes="16x19"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="css/reset.css" rel="stylesheet" type="text/css"/>
<link href="css/main.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/default.css"/>
<link rel="stylesheet" type="text/css" href="css/component.css"/>
<script src="js/modernizr.custom.js"></script>
<style type="text/css">
  header .header-left {
    float: left;
    padding: 25px 0 10px 18px;
    background: #fff;
    position: relative;
    width: 46%;
    z-index: 22;
}
</style>
</head>
<body>
<div class="master-preloader"></div>
<section id="wrapper">
  <header class="hidden-sm hidden-xs">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
      <div class="dept-pages">
        <ul class="dept-pages-list">
          <li><a href="/tsr"><img src="images/tsr-logo.png"><p>T.S.RAHAMAN</p></a></li>
          <li><a href="/rcamsar"><img src="images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah"><img src="images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank"><img src="images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
      </div>
    </div>
    <div class="header-right">
        <div class="head-right-top">
            <div class="bookings">
              <ul>
               <li><a href="http://live.ipms247.com/booking/docs/hostelbooking/book.php"  class="btn-white-book" target="_blank">BOOK ROOM</a></li>
                <!-- <li>
                  <a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a>
                </li> -->
                <li>
                  <a href="http://183.87.148.62:7274/application/index" class="btn-white-book" target="_blank">BOOK COURSE ONLINE</a>
                </li>
              </ul>
            </div>
            <div class="head-social">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
           <!--<div class="alumni"><li><a href="/alumni" class="btn-white-book">ALUMNI</a></li>
           </div>-->
        </div>
        <div class="head-right-bottom">
            <nav>
              <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty" class="active">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </nav>
            <div class="head-search">
                <form class="search">
                    <input type="text" class="search-input">
                    <input type="submit" class="search-submit">
                    <span></span>
                </form>
            </div>
        </div>
    </div>
  </header>
  <!--mblheader-->
  <div class="mbl-header hidden-md hidden-lg">
    <div class="header-left">
      <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
    </div>
    <div class="header-right">
      <div class="menu-click"><img src="images/menu-icon.png"></div>
    </div>
    <div class="bookings">
      <ul>
        <li><a href="javascript:;"  class="btn-white-book not-click-pop" title="Hostel booking can be done when coming for the course">BOOK ROOM</a></li>
        <!-- <li>
                  <a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a>
                </li> -->
                <li>
                  <a href="http://183.87.148.62:7274/application/index" class="btn-white-book" target="_blank">BOOK COURSE ONLINE</a>
                </li>
      </ul>
      <div class="head-search">
          <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
          </form>
      </div>
    </div>
  </div>
  <!--mbl-head-end-->
  <div class="mbl-menu hidden-md hidden-lg">
    <div class="close-menu">X</div>
      <ul class="dept-pages-list">
          <li><a href="/tsr" title="TRAINING SHIP RAHAMAN"><img src="images/tsr-logo.png"><p>TSR</p></a></li>
          <li><a href="/rcamsar" title="RAHAMAN COLLEGE OF ADVANCED MARITIME STUDIES & RESEARCH"><img src="images/rcamcr-logo.jpg"><p>RCAMSAR</p></a></li>
          <li><a href="/aracah" title="ABDUL RASHID ACADEMY OF CULINARY ARTS & MARITIME HOSPITALITY"><img src="images/arach-logo.jpg"><p>ARACAMH</p></a></li>
          <li><a href="http://www.lkmschool.in/" target="_blank" title="LKM School"><img src="images/lkm-logo.jpg"><p>LKM School</p></a></li>
        </ul>
        <div class="mbl-nav">
          <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/faculty">FACULTY</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
        <div class="mbl-social">
          <ul>
              <li><a href="#"><img src="images/mbl-fb-icon.png"></a></li>
              <li><a href="#"><img src="images/mbl-twitter-icon.png"></a></li>
              <li><a href="#"><img src="images/mbl-gplus-icon.png"></a></li>
          </ul>
        </div>
  </div>
  <section class="banner-inner banner-inner-courses banner-faculty">
    <div class="certified"><h5><img src="images/badge.png"><p class="text-center">ISO<br/>9001:2008<br/>Certified</p></h5></div>
  </section>
  <div class="container bg-white breadcrumb-wrap">
    <div class="row">
      <ul class="breadcrumb">
        <li><a href="/index"><img src="images/breadcrumb_home.png" width="19" height="15"  alt=""/></a></li>
        <li class="active">Faculty</li>
      </ul>
    </div>
  </div>
  <section class="inner-faculty-wrap container pos-rel">
      <div class="inner-title-wrap">
        <h2 class="inner-title">FACULTY</h2>
        <h2 class="inner-title">FACULTY</h2>
      </div>
      <div class="filters-button-group faculty-tab-group hidden-xs">
          <ul class="button-group button-gallery text-uppercase" id="faculty-tab-list">
          <li class="parallelogram-tab pre-course-tab button button-main active is-checked"><a href="#FacTab1" data-toggle="tab"><span>TRAINING SHIP RAHAMAN</span></a></li>
          <!--li class="parallelogram-tab pre-course-tab button button-main"><a href="#FacTab2" data-toggle="tab"><span>lkm SCHOOL</span></a></li-->
          <li class="parallelogram-tab pre-course-tab button button-main"><a href="#FacTab3" data-toggle="tab"><span>RAHAMAN COLLEGE OF <br/> ADVANCE
  MARITIME STUDIES AND RESEARCH</span></a></li>
          <li class="parallelogram-tab pre-course-tab button button-main"><a href="#FacTab4" data-toggle="tab"><span>ABDUL RASHID ACADEMY OF <br/>CULINARY ARTS & MARITIME HOSPITALITY</span></a></li>
        </ul>
        </div>
        <select class="button-group button-gallery filters-select text-uppercase faculty-select hidden-sm hidden-md hidden-lg">
        <option value="0" class="parallelogram-tab pre-course-tab button button-main"><a href="#FacTab1" data-toggle="tab">TRAINING SHIP RAHAMAN</a></option>
        <!--option value="1" class="parallelogram-tab pre-course-tab button button-main"><a href="#FacTab2" data-toggle="tab">lKM SCHOOL</a></option-->
        <option value="1" class="parallelogram-tab pre-course-tab button button-main"><a href="#FacTab3" data-toggle="tab">RCAMSAR</a></option>
         <option value="2" class="parallelogram-tab pre-course-tab button button-main"><a href="#FacTab4" data-toggle="tab">ARACAMH</a></option>
         
        </select>
      </div>
    <section class="inner-pre-wrap faculty-inner-wrap">
     <div class="grid grid-main">
     <div class="tab-content">
      <div class="tab-pane active" id="FacTab1">
        <ul class="figure-cont row">
          <li class="col-sm-4 col-sm-4 col-md-3 col-lg-3 element-item-faculty lkmschool" data-click="faculty-click-14">
            <figure><img src="images/faculty_img1.jpg" alt=""/>
              <figcaption>Capt(Dr). Ashutosh Apandkar</figcaption>
            </figure>
          </li>
          <!--li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege">
            <figure> <img src="images/faculty_img2.jpg" alt=""/>
              <figcaption>Capt. Advani</figcaption>
            </figure>
          </li-->
          <!--li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty lkmschool" data-click="faculty-click-15">
          <figure> <img src="images/faculty_img3.jpg" alt=""/>
            <figcaption>Capt. Bhatnagar</figcaption>
          </figure>
        </li-->
        <!--li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege">
          <figure> <img src="images/faculty_img4.jpg" alt=""/>
            <figcaption>Capt. Briganza</figcaption>
          </figure>
        </li-->
        <!--li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege">
              <figure> <img src="images/faculty_img5.jpg" alt=""/>
                <figcaption>Capt. Franklin</figcaption>
              </figure>
        </li-->
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-18">
              <figure> <img src="images/faculty_vepa.jpg" alt=""/>
                <figcaption>Capt. Murali Vepa</figcaption>
              </figure>
        </li>

        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-19">
              <figure> <img src="images/faculty_makane.jpg" alt=""/>
                <figcaption>Capt. Mahadeo D Makane</figcaption>
              </figure>
        </li>

        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-20">
              <figure> <img src="images/faculty_joha.jpg" alt=""/>
                <figcaption>Capt. P.B. Joag</figcaption>
              </figure>
        </li>

        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-21">
              <figure> <img src="images/faculty_naresh.jpg" alt=""/>
                <figcaption>Capt. Naresh C. Jha</figcaption>
              </figure>
        </li>

        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-22">
              <figure> <img src="images/faculty_img3.jpg" alt=""/>
                <figcaption>Capt. S.G. Bhatnagar</figcaption>
              </figure>
        </li>

        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-23">
              <figure> <img src="images/faculty_img8.jpg" alt=""/>
                <figcaption>Capt. Pratap Kane</figcaption>
              </figure>
        </li>
         <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-24">
              <figure> <img src="images/faculty_img4.jpg" alt=""/>
                <figcaption>Capt. Francis P. Braganza</figcaption>
              </figure>
        </li>
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-25">
              <figure> <img src="images/faculty_dandekar.jpg" alt=""/>
                <figcaption>Capt. P.S. Dandekar</figcaption>
              </figure>
        </li>
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-26">
              <figure> <img src="images/faculty_seldon.jpg" alt=""/>
                <figcaption>Capt. George Seldon</figcaption>
              </figure>
        </li>
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-27">
              <figure> <img src="images/faculty_dsosa.jpg" alt=""/>
                <figcaption>Mr. Theo D’sa</figcaption>
              </figure>
        </li>
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-28">
              <figure> <img src="images/faculty_irani.jpg" alt=""/>
                <figcaption>Capt. R.R. Irani</figcaption>
              </figure>
        </li>
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-29">
              <figure> <img src="images/faculty_batia.jpg" alt=""/>
                <figcaption>Capt. Rajendra Bhatia</figcaption>
              </figure>
        </li>
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-30">
              <figure> <img src="images/faculty_agarkar.jpg" alt=""/>
                <figcaption>Capt. Arun Agharkar</figcaption>
              </figure>
        </li>
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-31">
              <figure> <img src="images/faculty_puranik.jpg" alt=""/>
                <figcaption>Capt. Hemant Puranik</figcaption>
              </figure>
        </li>
        <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-32">
              <figure> <img src="images/faculty_prasad.jpg" alt=""/>
                <figcaption>Mr. Nand Keshwar Prasad</figcaption>
              </figure>
        </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty lkmschool" data-click="faculty-click-17">
              <figure> <img src="images/faculty_img15.jpg" alt=""/>
                <figcaption>Mr. Bipin Khanna</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty abdul" data-click="faculty-click-16">
              <figure> <img src="images/faculty_img10.jpg" alt=""/>
                <figcaption>Capt. A.K. Sinha</figcaption>
              </figure>
            </li>
        </ul>
      </div>

        <!--div class="tab-pane" id="FacTab2">
          <ul class="figure-cont row">
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty lkmschool">
              <figure> <img src="images/faculty_img6.jpg" alt=""/>
                <figcaption>Capt. Jha</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty abdul">
              <figure> <img src="images/faculty_img7.jpg" alt=""/>
                <figcaption>Capt. M. Vepa</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty lkmschool">
              <figure> <img src="images/faculty_img8.jpg" alt=""/>
                <figcaption>Capt. P. Kane</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege">
              <figure> <img src="images/faculty_img9.jpg" alt=""/>
                <figcaption>Capt. Sheldon</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty lkmschool">
              <figure> <img src="images/faculty_img21.jpg" alt=""/>
                <figcaption>MR. Theo Dsa</figcaption>
              </figure>
            </li>
          </ul>
        </div-->
        <div class="tab-pane" id="FacTab3">
          <ul class="figure-cont row">
            <!--li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty lkmschool">
              <figure> <img src="images/faculty_img20.jpg" alt=""/>
                <figcaption>Mr. R. A. Deshpande</figcaption>
              </figure>
            </li-->
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-36">
              <figure> <img src="images/faculty_kamath.jpg" alt=""/>
                <figcaption>Mr. V.A. Kamath</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty abdul" data-click="faculty-click-12">
              <figure> <img src="images/faculty_img18.jpg" alt=""/>
                <figcaption>Mr. N.G. Adhikari</figcaption>
              </figure>
            </li>
            <!--li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege">
              <figure> <img src="images/faculty_img12.jpg" alt=""/>
                <figcaption>Capt. Vinod</figcaption>
              </figure>
            </li-->
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-13">
              <figure> <img src="images/faculty_img13.jpg" alt=""/>
                <figcaption>Mr. A.K. Sharma</figcaption>
              </figure>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="FacTab4">
          <ul class="figure-cont row">
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-1">
              <figure> <img src="images/faculty_img19.jpg" alt=""/>
                <figcaption>Mr. Paul Koshy</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty abdul" data-click="faculty-click-3">
              <figure> <img src="images/faculty_img14.jpg" alt=""/>
                <figcaption>Chef. Anupam Dhoundiyal</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty abdul" data-click="faculty-click-2">
              <figure> <img src="images/faculty_img16.jpg" alt=""/>
                <figcaption>Mr. Cletus Paul</figcaption>
              </figure>
            </li>
            <!--li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege">
              <figure> <img src="images/faculty_img17.jpg" alt=""/>
                <figcaption>Mr. Chitale</figcaption>
              </figure>
            </li-->
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-5">
              <figure> <img src="images/faculty_pankaj.jpg" alt=""/>
                <figcaption>Mr. Pankaj Deshmukh</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-6">
              <figure> <img src="images/faculty_salun.jpg" alt=""/>
                <figcaption>Chef. Sunil Salunke</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-7">
              <figure> <img src="images/faculty_meena.jpg" alt=""/>
                <figcaption>Ms. Meena Thapa</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-8">
              <figure> <img src="images/faculty_chandan.jpg" alt=""/>
                <figcaption>Chef. Chandan Pardeshi</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-9">
              <figure> <img src="images/faculty_rodri.jpg" alt=""/>
                <figcaption>Mr. Baptist Rodrigues</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-10">
              <figure> <img src="images/faculty_raut.jpg" alt=""/>
                <figcaption>Chef. Chetan Raut</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-11">
              <figure> <img src="images/faculty_haresh.jpg" alt=""/>
                <figcaption>Chef. Haresh Rankhambhe</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-33">
              <figure> <img src="images/faculty_pooja.jpg" alt=""/>
                <figcaption>Ms. Pooja Bhoir</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-34">
              <figure> <img src="images/faculty_hiwale.jpg" alt=""/>
                <figcaption>Chef. Silas Hiwale</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty rahmancollege" data-click="faculty-click-35">
              <figure> <img src="images/faculty_dari.jpg" alt=""/>
                <figcaption>Chef. Sumit Dariyanani</figcaption>
              </figure>
            </li>
            <li class="col-sm-4 col-md-3 col-lg-3 element-item-faculty lkmschool" data-click="faculty-click-4">
              <figure> <img src="images/faculty_archana.jpg" alt=""/>
                <figcaption>Ms. Archana Yendarkar</figcaption>
              </figure>
            </li>
          </ul>
      </div>
      </div>
      </div>

      
      <!-- /tabs --> 
      
    </section>
  </section>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
              <li><a href="#" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/faculty">Faculty</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact us</a></li>

            </ul>
            <img src="images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <select class="select-foot">
                  <option selected="selected" hidden>Select</option>
                  <option>Pre Sea (Nautical)</option>
                  <option>Post Sea (STCW)</option>
                  <option>ARACAMH</option>
                  <option>RCAMSAR</option>
              </select>
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
            <ul>
              <li><strong>Training Ship Rahaman<br/>
Sir Mohamed Yusuf Seamen Welfare Foundation</strong></li>
              <li>Jahaz Mahal Annexe, 170 K, Samander Point Estate,<br/>
              Opp.Lotus, Worli,<br/> Mumbai – 400 018.</li>
              <li>Contact:<br/> 
<a href="callto:022-24933324">022-24933324 ,</a><a href="callto:022-24938740"> 24938740</a></li>
<li>Email: <a href='mailto:booking@tsrahaman.org'>booking@tsrahaman.org</a></li>
            </ul>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
</section>
 <div class="pop-faculty-1 pop-facul-styl" id="faculty-click-1">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img19.jpg"></p>
        <h1>Mr. Paul Koshy</h1>
      </div>
      <article> CHE (USA):Principal of Abdul Rashid Academy of Culinary Arts and Maritime Hospitality. An Alumnus of the prestigious IHM Dadar, Mr. Paul has spent a major part of his career in the field of hospitality education. He has been the Principal of the prestigious OSHM College, affiliated to Calicut University, Kerala. He also holds a CHE, the ultimate certificate in hospitality training from AHLA (USA). Mr. Paul felt that the Maritime Catering Training conducted across the country are not helping students to strive for excellence in the hospitality profession. He felt that the training provided was broad and was not specific. Thus, felt the need for a Maritime catering course offering international standards of training. So, taking help from the industry stalwarts he initiated  a three year degree in Bsc. Maritme Hospitality Studies, affiliated to Mumbai University, in order to provide students with higher education and career development opportunity.</article>
    </div>
  </div>
  <div class="pop-faculty-2 pop-facul-styl" id="faculty-click-2">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img16.jpg"></p>
        <h1>Mr. Cletus Paul</h1>
      </div>
      <article>Course In charge CCMC, is an alumnus of IHM Trivandrum has completed management training program from Taj Coromandel, Chennai and has worked as a Catering officer on Merchant ships for four years. Mr. Cletus has also worked for Board of Examinations for Seafarers as a coordinator for CCMC all India Exit examinations. During this period he has made substantial contributions to the board in compiling a CCMC training manual which is the first approved training manual for CCMC course. He has carried out training for saloon crew of many reputed shipping companies. He is a post graduate in Tourism Management from Madurai Kamaraj University.</article>
    </div>
  </div>
  <div class="pop-faculty-3 pop-facul-styl" id="faculty-click-3">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img14.jpg"></p>
        <h1>Mr. Anupam Dhoundiyal</h1>
      </div>
      <article>Course In charge Bsc MHS, Masters in Hotel &amp; Tourism Management (M.Sc in HTM) from Yashwantrao Chavan Maharashtra Open University, MBA in Business Management from Canterbury University, United Kingdom, Three years diploma in Hotel Management from Government Institute of Hotel Management &amp; Catering Technology &amp; Applied Nutrition, Dehra Dun and One-year diploma in business management from National Council for Labour Management. Started career in food production department in the year 1994. Trained at Taj Group and Clarks Group of Hotels and worked as an Executive Chef for various hotels such as Best Western Group of Hotels and Kohinoor Hotel before moving to training in 2005. Currently working as Course Coordinator for B.Sc in Maritime Hospitality Studies under University of Mumbai.</article>
    </div>
  </div>
  <div class="pop-faculty-4 pop-facul-styl" id="faculty-click-4">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_archana.jpg"></p>
        <h1>Ms. Archana Yendarkar</h1>
      </div>
      <article>Ms.Archana Yendarkar is commerce graduate from University of Mumbai and she has completed her MBA from Sikkim Manipal University at Karrox college and  Diploma in Financial Management  from Wellingkar Institute. She has worked with Orbit Corporation as   internal auditor for 8 years. She has also completed  her B.Ed from DY Patil University. She is a faculty for Cost and Financial Management, Strategic Management, Principles of Management and Human Resources Management.</article>
    </div>
  </div>
  <div class="pop-faculty-5 pop-facul-styl" id="faculty-click-5">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_pankaj.jpg"></p>
        <h1>Mr. Pankaj Deshmukh</h1>
      </div>
      <article>Vice-Principal, College of Maritime Catering and Hospitality. Completed M. Tech (MHM) from Nagpur University and MBA from Amravati University. He has worked in the Hospitality Industry for 3 years in various positions including Lobby manager and 9 years in the field of hospitality education. He is a member of committee of Bsc. Maritime Hospitality studies course of Mumbai University. </article>
    </div>
  </div>
  <div class="pop-faculty-6 pop-facul-styl" id="faculty-click-6">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_salun.jpg"></p>
        <h1>Mr. Sunil Salunke</h1>
      </div>
      <article>HOD - Food Production, College of Maritime Catering and Hospitality. Bcom, Diploma in Food Production and Masters in Hotel and Tourism Management from Yashwant Rao Chavan Maharashtra Open University approved by UGC - After completing two years of apprenticeship in Welcome Group, Mughal Sheraton, Agra. Chef Sunil was later promoted to a Commi II and worked in the Tandoor section, later he moved to Goa, where he joined Goa Renaissance and then moved to Cidade de Goa as senior CDP in the barbeque kitchen, Prior to joining T. S. Rahaman, Sunil worked as a Sous Chef at the Hotel Kohinoor Continental, Mumbai.</article>
    </div>
  </div>
  <div class="pop-faculty-7 pop-facul-styl" id="faculty-click-7">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_meena.jpg"></p>
        <h1>Ms. Meena Thapa</h1>
      </div>
      <article>Ms.Meena Thapa is a Faculty for Food and Beverage Service. She has completed her BSc in Maritime Hospiality Studies and has worked for many premium  hospitality establishments including JW Marriots ,Mumbai and Marine Plaza Mumbai.</article>
    </div>
  </div>
  <div class="pop-faculty-8 pop-facul-styl" id="faculty-click-8">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_chandan.jpg"></p>
        <h1>Mr. Chandan Pardeshi</h1>
      </div>
      <article>lecturer of Food production. He is pursuing MA in Tourism Management and completed 3 years Diploma in Hotel Management and Catering Technology from ITM Kharghar, Navi Mumbai. He has worked 2 years with the board of examinations for seafarers trust as an Examination Assistant and has 4 years of teaching experience in maritime institutes.</article>
    </div>
  </div>
  <div class="pop-faculty-9 pop-facul-styl" id="faculty-click-9">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_rodri.jpg"></p>
        <h1>Mr. Baptist Rodrigues</h1>
      </div>
      <article>Lecturer of Food and Beverage Service. He is pursuing Bsc. In Hotel & Tourism Management and Completed craftsmanship course in Food Production and Patisserie from Dadar Catering College, Food Production from AHMA and F & B Service from AHMA (Correspondence). He has worked 7 years in F & B Service on Royal Caribbean Cruise line, 2 years as ARM in a specialized Italian restaurant and 2 years industrial training in Taj President, Cuffe Parade.</article>
    </div>
  </div>
  <div class="pop-faculty-10 pop-facul-styl" id="faculty-click-10">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_raut.jpg"></p>
        <h1>Chef. Chetan Raut</h1>
      </div>
      <article>Lecturer in Food Production, an alumini of Bharthi Vidyapeeth of Hotel management , has worked in many star category hotels like Orchid, Intercontinental, ITC after completing his Three year Diploma in Hotel management.</article>
    </div>
  </div>
  <div class="pop-faculty-11 pop-facul-styl" id="faculty-click-11">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_haresh.jpg"></p>
        <h1>Chef. Haresh Rankhambhe</h1>
      </div>
      <article>Sr. Lecturer in Food Production, an alumini of Bharthi Vidyapeeth of Hotel Management, has 16 years of experience in  star category hotels in India and abroad . He has also served 4 years on Norwegian cruise liners. Mr. Haresh has also served ITC Fortune, Navi Mumbai as a Sr. Sous Chef.</article>
    </div>
  </div>
  <div class="pop-faculty-12 pop-facul-styl" id="faculty-click-12">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img18.jpg"></p>
        <h1>Mr. N. G. Adhikari</h1>
      </div>
      <article>
N G Adhikary has served as Chief Engineer and Technical Superintendent  in K line ship Management and as Engineering faculty in K Line Maritime Academy, Mumbai for 11 years.
He was trainer of original NABTESCO, JAPAN Simulator for Main Engine Manoeuvring Remote Control System in K Line.
Persuaded Instructor’s course for engine overhauling and maintenance on KHI2SMC-C Engine at Manila, Philippines in 2008.</article>
    </div>
  </div>
  <div class="pop-faculty-13 pop-facul-styl" id="faculty-click-13">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img13.jpg"></p>
        <h1>Mr. A. K. SHARMA</h1>
      </div>
      <article>CHIEF ENGINEER (MEO CLASS -1 MOTOR) , retired from indian navy as master chief era -1 with service of 19 years in indian navy. holding certificate of meo class-1 motor. sailed for 06 years on merchant oil tanker vessels at different ranks. has been as faculty engineering for 02 years in bp marine academy, 03 years in training ship chanakya and presently in training ship rahaman w.e.f. 01/07/2009.</article>
    </div>
  </div>
  <div class="pop-faculty-14 pop-facul-styl" id="faculty-click-14">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img1.jpg"></p>
        <h1>Capt(Dr).  Ashutosh Apandkar</h1>
      </div>
      <article>Serving as Principal T.S. Rahaman has completed MBA in International Business from UK, (PhD) Doctorate in Management & He has served  on Oil/Chemical & Gas Tanker.</article>
    </div>
  </div>
  <!--div class="pop-faculty-15 pop-facul-styl" id="faculty-click-15">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img3.jpg"></p>
        <h1>Capt. Bhatnagar</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman completed Master of Arts (English), Diploma in Computer Software Techniques, Diploma in German, Post Graduate Diploma in Shipping Management & served  on Coastal</article>
    </div>
  </div-->
  <div class="pop-faculty-16 pop-facul-styl" id="faculty-click-16">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img10.jpg"></p>
        <h1>Capt. A.K. Sinha</h1>
      </div>
      <article>Serving as Course Incharge DLP, PSCRB, PST, PSSR & FRB & served on General Cargo, Care Carrier, open hatch Bulk Carrier Tanker & Forest product carrier.</article>
    </div>
  </div>
  <div class="pop-faculty-17 pop-facul-styl" id="faculty-click-17">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img15.jpg"></p>
        <h1>Mr. Bipin Khanna</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman completed BSc. Engineering Mechanical,lead auditor in QMS/EMS/OHSAS & served  on Gas Tanker, Cargo Ship, Bulk Carrier & Offshore Supply Vessel as Supritendent</article>
    </div>
  </div>
  <div class="pop-faculty-18 pop-facul-styl" id="faculty-click-18">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_vepa.jpg"></p>
        <h1>Capt. Murali Vepa</h1>
      </div>
      <article>serving as Vice Principal T.S. Rahaman  and was Training Officer on T.S. Rajendra & General Manager on Shore Assignment.</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-19">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_makane.jpg"></p>
        <h1>Capt. Mahadeo D Makane</h1>
      </div>
      <article>serving as Course incharge BSc. NS and worked on Bulk/Oil & Chemical Tanker.</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-20">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_joha.jpg"></p>
        <h1>Capt. P.B. Joag</h1>
      </div>
      <article>Serving as Course Incharge GP Rating and served General Cargo Vessel, Cellular Container Vessel, Product/Crude & Oil bulk Carrier & Oceangraphic Research Vessel & ISO  lead Auditor, 12 Years as Technical Suritendent in SCI</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-21">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_naresh.jpg"></p>
        <h1>Capt. Naresh C. Jha</h1>
      </div>
      <article>Serving as Course Incharge IMU DNS and served on Container Ship, Bulk Carrier & Cargo Tancker</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-22">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img3.jpg"></p>
        <h1>Capt. S.G. Bhatnagar</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman completed Master of Arts (English), Diploma in Computer Software Techniques, Diploma in German, Post Graduate Diploma in Shipping Management & served  on Coastal</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-23">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img8.jpg"></p>
        <h1>Capt. Pratap Kane</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman & completed MNI (UK), B.Sc. (Hon), B.Ed.LL.B, COP-II & LL.M Maritime (UK) and served  on Oil & Gas Tanker</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-24">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_img4.jpg"></p>
        <h1>Capt. Francis P. Braganza</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman & served  on General Cargo & Container</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-25">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_dandekar.jpg"></p>
        <h1>Capt. P.S. Dandekar</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman & served  on Twin Decker, Tanker, Cont/Gen Cargo & Bulk Carrier</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-26">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_seldon.jpg"></p>
        <h1>Capt. George Seldon</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman & served  on Bulk Carrier</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-27">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_dsosa.jpg"></p>
        <h1>Mr. Theo D’sa</h1>
      </div>
      <article>Serving as Course Incharge GMDSS & served  on Cargo Ships.</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-28">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_irani.jpg"></p>
        <h1>Capt. R.R. Irani</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman & served  on Containers.</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-29">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_batia.jpg"></p>
        <h1>Capt. Rajendra Bhatia</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman completed BBA (USA), Operational Manager, Port Captain & served on Container Ships</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-30">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_agarkar.jpg"></p>
        <h1>Capt. Arun Agharkar</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman & served  on Oil/Chemical & Crude Tanker.</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-31">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_puranik.jpg"></p>
        <h1>Capt. Hemant Puranik</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman & served  on Dry Cargo Ship</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-32">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_prasad.jpg"></p>
        <h1>Mr. Nand Keshwar Prasad</h1>
      </div>
      <article>Serving as faculty in T.S. Rahaman  completed Diploma in Mechanical Engineering & served  on Bulk & Container</article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-33">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_pooja.jpg"></p>
        <h1>Ms. Pooja Bhoir</h1>
      </div>
      <article></article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-34">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_hiwale.jpg"></p>
        <h1>Chef. Silas Hiwale</h1>
      </div>
      <article></article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-35">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_dari.jpg"></p>
        <h1>Chef. Sumit Dariyanani</h1>
      </div>
      <article></article>
    </div>
  </div>
  <div class="pop-facul-styl" id="faculty-click-36">
    <div class="pop-cont pop-cont-faculty">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="faculty-img-pop"><img src="images/faculty_kamath.jpg"></p>
        <h1>Mr. V.A. Kamath</h1>
      </div>
      <article>Started sea career with The S C I Ltd in 1977 and after sailing as Chief Engineer joined them as Technical
Manager ashore in 1993. Later worked as Technical Supdt in Eurasia Ship management. In 2004 , taken
over as Chief Executive officer of MAN B &amp; W Diesel (I) Ltd with responsibility for India, Srilanka and
Bangladesh region till 2009. Joined TS Rahaman as Consultant training in 2009 and continued till 2015.
After 2 years in Indian Register of Shipping as Consultant training, returned to T S Rahaman in April
2017.</article>
    </div>
  </div>
  <div class="pop-not-click">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <h1>Hostel Booking</h1>
        <article>Hostel booking can be done when coming for the course.</article>
      </div>
    </div>
  </div>


<script src="js/jquery-1.11.3.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/isotope.pkgd.js"></script> 
<script src="js/jquery.dlmenu.js"></script> 
<script src="js/main.js"></script> 
<script>

$(document).ready(function() {
  $('.element-item-faculty').on( "click", function(e) {
          e.preventDefault();
          var id = $(this).attr('data-click'); 
          $("div").each(function(){
              if($(this).attr('id') == id) {
                  $(this).css({
                    display: 'block'
                  }); 
              }
          });
      });

  $('.pop-close').click(function(){
    $('.pop-facul-styl').css({'display':'none'});
  });
  $('.pop-facul-styl').click(function(){
    $(this).css({'display':'none'});
  });

      $('.faculty-select').on('change', function (e) {
    $('#faculty-tab-list li a').eq($(this).val()).tab('show'); 
      });
  	
    // change is-checked class on buttons

    $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'li', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
    });
});
 $(window).load(function()
{
(function(a){a.preload=function(){var d=Object.prototype.toString.call(arguments[0])==="[object Array]"?arguments[0]:arguments;
var c=[];var b=d.length;for(;b--;){c.push(a("<img />").attr("src",d[b]));}};})(jQuery); 
$.preload('images/other_menu.png', 'images/other_menu-hover.png' );
 }); 
	
</script>
</body>
</html>
