     </li>
          </ul>
          <p class="text-uppercase text-center news-read-more"><a href="facility.html" class="btn-green"><span>View facilities</span></a></p>
        </div>
    </div>
  </section>
  <section class="news-events-tsr">
      <div class="container">
        <div class="home-news-wrap news-events-fullbg bg-gray">
        <h1 class="text-center"><img src="images/title_news.png" alt=""/></h1>
        <div class="news-events-wrap1">
          <div class="news-events-cont1">
            <p class="event-date">May<span>27</span></p>
            <div class="event-details">
              <h1>IMU- CET</h1>
              <span class="tooltip-info event-clr">Event</span>
              <article>&nbsp;</article>
              <p><a href="javascript:;" class="eve-click-2" target="_blank">READ MORE</a></p>
            </div>
          </div>
          <div class="news-events-cont2">
            <p class="event-date">Month<span>Date</span></p>
            <div class="event-details">
              <h1>News<br/></h1>
             <span class="tooltip-info news-clr">News</span>
              <article>Coming Soon...</article>
              <p><a href="javascript:;" class="news-click-2" target="_blank">READ MORE</a></p>
            </div>
          </div>
          <div class="news-events-cont1">
            <p class="event-date">Month<span>Date</span></p>
            <div class="event-details">
              <h1>News</h1>
               <span class="tooltip-info news-clr">News</span>
              <article>Coming Soon...</article>
              <p><a href="javascript:;" class="news-click-2" target="_blank">READ MORE</a></p>
            </div>
          </div>
        </div>
        <div class="news-events-wrap2">
          <div class="news-events-cont1">
            <p class="event-date">&nbsp;Jun&nbsp;<span>&nbsp;10&nbsp;</span></p>
            <div class="event-details">
              <h1>Bsc Entrance Exam</h1>
              <span class="tooltip-info event-clr">Event</span>
              <article>&nbsp;</article>
              <p><a href="javascript:;" class="eve-click-1" target="_blank">READ MORE</a></p>
            </div>
          </div>
          <div class="news-events-cont1">
            <p class="event-date">Month<span>Date</span></p>
            <div class="event-details">
              <h1>News<br/></h1>
              <span class="tooltip-info news-clr">News</span>
              <article>Coming Soon...</article>
              <p><a href="javascript:;" class="news-click-2" target="_blank">READ MORE</a></p>
            </div>
          </div>
          <div class="news-events-cont2">
            <p class="event-date">Month<span>Date</span></p>
            <div class="event-details">
              <h1>News</h1>
              <span class="tooltip-info news-clr">News</span>
              <article>Coming Soon...</article>
              <p><a href="javascript:;" class="news-click-1" target="_blank">READ MORE</a></p>
            </div>
          </div>
        </div>
        <p class="text-uppercase news-read-more"><a href="news_events.html" class="btn-green"><span>View all</span></a></p>
      </div>
    </div>
  </section>
  <section class="contact-tsr">
  <div class="container bg-white">
    <h1 class="text-center cont-title-pad"><img src="images/title_contact.png"  alt=""/></h1>
    <div class="map-tsr">
      <div class="map-form">
        <form>
          <p><label>From</label><input type="text" placeholder="Enter Your Location"></p>
          <p><label>To</label><input type="text" placeholder="T.S. Rahaman Campus - Nhava"></p>
          <p><label></label><button type="button" class="btn-green"><a href="https://www.google.co.in/maps/dir//T.S+Rahaman+Campus,+Nhava,+Panvel,+Raigarh,+Maharashtra+410206/@15.6984616,72.1236942,6z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3be7c4c83a989e0d:0xa9897edbb723b7cc!2m2!1d72.970047!2d18.9641317" target="_blank">GETTING THERE</a></button></p>
        </form>
      </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?AIzaSyATcniUHH3oWgLB4E8wtfcUhI7b4C8GEgI"></script>
      <div style="overflow:hidden;height:300px;width:100%;" class="map">
        </div>
      </div>
        </div>
  </section>
  <section class="footer-warp footer-warp-home">
    <div class="footer-full home-footer-full">
      <div class="container">
        <div class="row home-contact-wrap first">
          <div class="contact-details1">
            <h1>TSR Campus</h1>
            <ul>
              <li>+91 22 27212800/900</li>
            </ul>
            <p><a href="javascript:void(0)">admin@tsrahaman.org</a></p>
          </div>
          <div class="contact-details2">
            <h1>LKM School</h1>
            <ul>
              <li>+91 22 27212938</li>
            </ul>
            <p><a href="javascript:void(0)">lkm@tsrahaman.org</a></p>
          </div>
          <div class="contact-details4">
            <h1>RCAMSAR (Engineering)</h1>
            <ul>
              <li>+91 27212806 / 27212816</li>
            </ul>
            <p><a href="javascript:void(0)">booking.rcamsar@tsrahaman.org</a></p>
          </div>
        <div class="contact-details4">
          <h1>ARACAMH</h1>
          <ul>
            <li>+91 022- 27212923 / 921</li>
          </ul>
          <p><a href="javascript:void(0)">booking.cmch@tsrahaman.org</a></p>
        </div>
        </div>
        <div class="row home-contact-wrap sec">
          <div class="contact-details2">
            <h1>TSR Principal</h1>
            <ul>
              <li>+91 22 27212802</li>
            </ul>
            <p><a href="javascript:void(0)">tsrahaman@tsrahaman.org</a></p>
          </div>
          <div class="contact-details2">
            <h1>Pre Sea (Nautical)</h1>
            <ul>
              <li>+91 22 27212828 / 873</li>
            </ul>
            <p><a href="javascript:void(0)">booking.presea@tsrahaman.org</a></p>
          </div>
        <div class="contact-details4">
          <h1>Post Sea (STCW)</h1>
          <ul>
            <li>+91 22 27212940 / 941 / 911</li>
          </ul>
          <p><a href="javascript:void(0)">booking.stcw@tsrahaman.org</a></p>
        </div>
        </div>
        </div>
        <div class="foot-bg-wrap">
          <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
            <h1>Newsletter Signup</h1>
            <p class="parallelogram-input">
              <input type="text"/>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
            <hr>
            <h5>Social Network</h5>
            <ul class="foo-social-group">
              <li><a href="" class=""></a></li>
              <li><a href="" class=""></a></li>
              <li><a href="" class=""></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
            <h1>Site Map</h1>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About us</a></li>
              <li><a href="faculty.html">Faculty</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
            <img src="images/foot-logo.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
            <h1>For an Enquiry</h1>
            <p class="parallelogram-input">
              <input type="text" placeholder="Name">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Email">
            </p>
            <p class="parallelogram-input">
              <input type="text" placeholder="Phone">
            </p>
            <p class="parallelogram-input">
              <textarea type="text" placeholder="Message"></textarea>
            </p>
            <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
            <h1>Contact</h1>
            <ul>
              <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
              <li>Nhava, Panvel, Raigarh, </li>
              <li>Maharashtra 410206, India</li>
            </ul>
            <a href="pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy</a>
            <a href="pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy</a>
            <h1>National Anti ragging</h1>
            <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="text-center">&copy; 2015 T S Rahaman  |  All Rights Reserved.</p>
    </div>
  </section>
  
  <!--PopUp-->
  <div class="pop-facility-warp1">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date"><img src="images/library-icon.svg"></p>
        <h1>Library</h1>
      </div>
      <article>George Campbell Reference Library was established in the year 1998 with the Books, CDs and Video Films presented by Mr Fernandes, President and one of the
Trustees of George Campbell Reception
Foundation, Nassau, Bahamas. The
main objective is to cater to the training
needs of the maritime student community
undergoing various courses of
instructions in the Campus.</article>
<article>It was originally housed in the present
day Executive Office.
</article>
<article>The Ground Floor accommodates Archive
Section that has over 1000 rare books
on various subjects, Internet browsing
terminals and a reading room with news
papers and magazines relating to
maritime subjects and general reading
such as 'TIME”. A fumigation room faulitates regular maintenance
of books. Two terminals have been exclusively earmarked for e
reading material that has been downloaded. Interesting and
educative articles, training videos, inspirational videos and useful
websites are
part of the e
resources of the
Library.
  </article>
  <article>The First Floor
glass
empanelled air conditioned enclosures houses the
Main Library that contains latest maritime
reference and reading material.Re-production
facilities (Photocopier and scanner) have been
made available that caters for the training needs
of the student community. </article>
    </div>
  </div>
  <div class="pop-facility-warp2">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date"><img src="images/hospital-icon.svg"></p>
        <h1>Fatima Banu hospital</h1>
      </div>
      <article>Great care of mangroves on the coastline abutting the campus is ensured through constant patrolling. The campus is home to more than 40 variety of trees</article>
    </div>
  </div>
  <div class="pop-facility-warp3">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date"><img src="images/transport-icon.svg"></p>
        <h1>transportation</h1>
      </div>
      <article>The Foundation has four buses for transporting School children and two other buses for transportation of candidates from Belapur Railway station and the Foundation Staff from Panvel. Three other smaller vehicles are used for transportation requirement of the staff
for various duties outside the Campus and for material purchase and, procurement.
</article>
<article>The mechanical repairs section attends to repairs of the transport fleet and other plant
and ewuipment unless factory repairs are necessitated.
</article>
    </div>
  </div>
  <div class="pop-facility-warp4">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date"><img src="images/broadband-icon.svg"></p>
        <h1>broadband and 
wi fi connectivity</h1>
      </div>
      <article>The Campus has taken two leased circuits of 10 Mbps each; a leased line from MTNL and a wireless leased circuit from Joister (Syscon) Company.</article>
      <article>The internet
connections are terminated on a
Cyberoam to ensure cyber security.
</article>
    </div>
  </div>
  <div class="pop-facility-warp5">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date"><img src="images/catering.svg"></p>
        <h1>Catering & Housekeeping </h1>
      </div>
      <article>The Foundation has its own Catering and
Housekeeping Departments. The Catering
Department prepares and serves about
800 to 900 meals during a
CAMPUS NHAVA MTNL MUX Room
single service to a diverse group consisting of trainees, faculty, employees and school children. They also arrange meals for Picnic
Groups that visit the Campus.
</article>
<article>The galley is well provided with commercial equipment like grinders, peelers, mixers, idli steamers, and brat pans, deep fat fryers,
cooking ranges, ovens and bain-marie for large scale cooking and serving hot meals.
</article>
    </div>
  </div>
  <div class="pop-facility-warp6">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date"><img src="images/farm-icon.svg"></p>
        <h1>Dairy & Poultry Farm 
</h1>
      </div>
      <article>The Campus is self sufficient in its requirement of milk and poultry. The total live stock in the Dairy Farm is around 42 cows. Around 200
Broilers and 700 layer birds in batches meet the requirement of meat and eggs. It is ensured that organic milk and poultry products are
served to the trainees.
</article>
    </div>
  </div>
  <div class="pop-facility-warp7">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date"><img src="images/laundary-icon.svg"></p>
        <h1>Laundry</h1>
      </div>
      <article>The 'in house' Laundry has large, fully automated commercial washers and Driers and is able provide laundry and ironing services to
the trainees as well as the Campus Staff. Steam and electrical irons are deployed for ever increasing load of ironing.
</article>
    </div>
  </div>
  <div class="pop-facility-warp8">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date"><img src="images/banking-icon.svg"></p>
        <h1>Banking Facilities</h1>
      </div>
      <article>An extension Counter of Bank of India is currently accommodated in the Campus and facilitates all types of banking services, particularly of significance is that based on
Foundation’s recommendations, loan
facilities for trainees, students and
employees are facilitated.
</article>
<article>ATM of the Bank of India is also co-located
with the Campus with its attendant banking
facilities.
</article>
    </div>
  </div>
  <div class="pop-warp-news-1">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date">Month<span>Date</span></p>
        <h1>NEWS</h1>
      </div>
      <figure><img src="http://placehold.it/600x150" width="600" height="150" alt=""></figure>
      <article>Coming Soon</article>
    </div>
  </div>
  <div class="pop-warp-news-2">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date">Month<span>Date</span></p>
        <h1>NEWS</h1>
      </div>
      <figure><img src="http://placehold.it/600x150" width="600" height="150" alt=""></figure>
      <article>Coming Soon</article>
    </div>
  </div>
  <div class="pop-warp-events-1">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date">Month<span>Date</span></p>
        <h1>Bsc Entrance Exam</h1>
      </div>
      <figure><img src="http://placehold.it/600x150" width="600" height="150" alt=""></figure>
      <article>Coming Soon</article>
    </div>
  </div>
  <div class="pop-warp-events-2">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <p class="event-date">Month<span>Date</span></p>
        <h1>IMU- CET</h1>
      </div>
      <figure><img src="http://placehold.it/600x150" width="600" height="150" alt=""></figure>
      <article>Coming Soon</article>
    </div>
  </div>
  <div class="pop-not-click">
    <div class="pop-cont">
      <div class="pop-close">X</div>
      <div class="pop-event-cont">
        <h1>Hostel Booking</h1>
        <article>Hostel booking can be done when coming for the course.</article>
      </div>
    </div>
  </div>
</section>
<script src="js/jquery-1.11.3.js"></script> 
<script src="js/video.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/isotope.pkgd.js"></script> 
<script src="js/jquery.dlmenu.js"></script> 
<script src="js/bootstrap-tabdrop.js"></script>
<script src="js/venobox.js"></script> 
<script src="js/marquee.js"></script>  
<script src="js/main.js"></script> 
<script>
 $(window).load(function()
{
(function(a){a.preload=function(){var d=Object.prototype.toString.call(arguments[0])==="[object Array]"?arguments[0]:arguments;
var c=[];var b=d.length;for(;b--;){c.push(a("<img />").attr("src",d[b]));}};})(jQuery); 
$.preload('images/other_menu.png', 'images/other_menu-hover.png' );
 }); 
	var myVideo = document.getElementById("bgvid");	

	function playVid() {

		myVideo.play();

	};

	function pauseVid() {

		myVideo.pause();

	};

	

	$(function() {
    createMarquee({});
  });

	$(document).ready(function(){
		$("#tsrTicker").ticker({ 
			effect: "slideUp", 
			interval: 4000,
			duration: 200
		});
    $('#myCarousel').carousel({
      interval: 2000
    });
		if (window.matchMedia('(max-width: 479px)').matches) {
			$('.tab-res').tabdrop(function (){
				$(this).siblings('.dropdown').removeClass('open')
			});
		}
		
		$('.venobox').venobox(); 

	});	
 $(window).load(function()
{
(function(a){a.preload=function(){var d=Object.prototype.toString.call(arguments[0])==="[object Array]"?arguments[0]:arguments;
var c=[];var b=d.length;for(;b--;){c.push(a("<img />").attr("src",d[b]));}};})(jQuery); 
$.preload('images/other_menu.png', 'images/other_menu-hover.png' );
 }); 




</script>
</body>
</html>
lass="text-uppercase">broadband and <br/>wi fi connectivity</h6>
              </div>
              <p>The Campus has taken two leased circuits of 10 Mbps each; a leased line from MTNL and a wireless leased circuit from Joister (Syscon) Company....</p>
              <span class="facility-read-btn">read more</span>
            </li>
            <li class="facility-click-5">
              <div class="hover-wrap">                
                <img src="images/catering.svg" class="facility-img-normal">
                <img src="images/catering.png" class="facility-img-hover">
                <h6 class="text-uppercase">Catering & Housekeeping </h6>
              </div>
              <p>The Foundation has its own Catering and Housekeeping Departments. The Catering Department prepares and serves about 800 to 900 meals ....</p>
              <span class="facility-read-btn">read more</span>
            </li>
            <li class="facility-click-6">
              <div class="hover-wrap">
                <img src="images/farm-icon.svg" class="facility-img-normal">
                <img src="images/farm-icon.png" class="facility-img-hover">
                <h6 class="text-uppercase">Dairy & Poultry Farm </h6>
              </div>
              <p>The Campus is self sufficient in its requirement of milk and poultry. The total live stock in the Dairy Farm is around 42 cows. Around 200 Broilers...</p>
              <span class="facility-read-btn">read more</span>
            </li>
            <li class="facility-click-7">
              <div class="hover-wrap">
                <img src="images/laundary-icon.svg" class="facility-img-normal">
                <img src="images/laundary-icon.png" class="facility-img-hover">
                <h6 class="text-uppercase">Laundry</h6>
              </div>
              <p>The 'in house' Laundry has large, fully automated commercial washers and Driers and is able provide laundry and ironing services to the...</p>
              <span class="facility-read-btn">read more</span>
            </li>
            <li class="facility-click-8">
              <div class="hover-wrap">
                <img src="images/banking-icon.svg" class="facility-img-normal">
                <img src="images/banking-icon.png" class="facility-img-hover">
                <h6 class="text-uppercase">Banking Facilities</h6>
              </div>
              <p>An extension Counter of Bank of India is currently accommodated in the Campus and facilitates all types of banking services, particularly of significance ..</p>
              <span class="facility-read-btn">read more</span>
       