<!doctype html>
<html lang="en-US">

<head>
  <title>Training Ship Rahman Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" type="image/png" href="images/favicon.png" sizes="16x19" />
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/reset.css" rel="stylesheet" type="text/css" />
  <link href="css/marquee.css" rel="stylesheet" type="text/css" />
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/default.css" />
  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <link href="css/tabdrop.css" rel="stylesheet">
  <link rel="stylesheet" href="css/venobox.css" type="text/css" media="screen" />
  <script src="js/modernizr.custom.js"></script>
  <style type="text/css">
    .getting-there-btn {
      margin-top: 15px;
    }

    .getting-there-btn a {
      color: #fff;
    }

    .map {
      background: url(images/map.jpg) no-repeat center;
      background-size: cover;
    }

    .news-events-tsr .news-events-fullbg .news-events-wrap1 .news-events-cont1 .event-date,
    .news-events-tsr .news-events-fullbg .news-events-wrap2 .news-events-cont1 .event-date,
    .news-events-tsr .news-events-fullbg .news-events-wrap1 .news-events-cont2 .event-date,
    .news-events-tsr .news-events-fullbg .news-events-wrap2 .news-events-cont2 .event-date {
      font-size: 14px !important;
      padding: 25px 28px !important;
    }

    .news-events-tsr .news-events-fullbg .news-events-wrap1 .news-events-cont1 .event-date span,
    .news-events-tsr .news-events-fullbg .news-events-wrap2 .news-events-cont1 .event-date span,
    .news-events-tsr .news-events-fullbg .news-events-wrap1 .news-events-cont2 .event-date span,
    .news-events-tsr .news-events-fullbg .news-events-wrap2 .news-events-cont2 .event-date span {
      font-size: 12px !important;
    }

    .pop-warp .pop-cont .pop-event-cont .event-date,
    .pop-warp1 .pop-cont .pop-event-cont .event-date,
    .pop-warp2 .pop-cont .pop-event-cont .event-date,
    .pop-warp3 .pop-cont .pop-event-cont .event-date,
    .pop-warp4 .pop-cont .pop-event-cont .event-date,
    .pop-warp5 .pop-cont .pop-event-cont .event-date,
    .pop-warp6 .pop-cont .pop-event-cont .event-date,
    .pop-warp-news-1 .pop-cont .pop-event-cont .event-date,
    .pop-warp-news-2 .pop-cont .pop-event-cont .event-date,
    .pop-warp-news-3 .pop-cont .pop-event-cont .event-date,
    .pop-warp-news-4 .pop-cont .pop-event-cont .event-date,
    .pop-warp-news-5 .pop-cont .pop-event-cont .event-date,
    .pop-warp-news-6 .pop-cont .pop-event-cont .event-date,
    .pop-warp-events-1 .pop-cont .pop-event-cont .event-date,
    .pop-warp-events-2 .pop-cont .pop-event-cont .event-date,
    .pop-warp-events-3 .pop-cont .pop-event-cont .event-date,
    .pop-faculty-1 .pop-cont .pop-event-cont .event-date,
    .pop-faculty-2 .pop-cont .pop-event-cont .event-date,
    .pop-facility-warp1 .pop-cont .pop-event-cont .event-date,
    .pop-facility-warp2 .pop-cont .pop-event-cont .event-date,
    .pop-facility-warp3 .pop-cont .pop-event-cont .event-date,
    .pop-facility-warp4 .pop-cont .pop-event-cont .event-date,
    .pop-facility-warp5 .pop-cont .pop-event-cont .event-date,
    .pop-facility-warp6 .pop-cont .pop-event-cont .event-date,
    .pop-facility-warp7 .pop-cont .pop-event-cont .event-date,
    .pop-facility-warp8 .pop-cont .pop-event-cont .event-date {
      font-size: 13px !important;
      padding: 25px 28px !important;
    }

    .pop-warp .pop-cont .pop-event-cont .event-date span,
    .pop-warp1 .pop-cont .pop-event-cont .event-date span,
    .pop-warp2 .pop-cont .pop-event-cont .event-date span,
    .pop-warp3 .pop-cont .pop-event-cont .event-date span,
    .pop-warp4 .pop-cont .pop-event-cont .event-date span,
    .pop-warp5 .pop-cont .pop-event-cont .event-date span,
    .pop-warp6 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-news-1 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-news-2 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-news-3 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-news-4 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-news-5 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-news-6 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-events-1 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-events-2 .pop-cont .pop-event-cont .event-date span,
    .pop-warp-events-3 .pop-cont .pop-event-cont .event-date span,
    .pop-faculty-1 .pop-cont .pop-event-cont .event-date span,
    .pop-faculty-2 .pop-cont .pop-event-cont .event-date span,
    .pop-facility-warp1 .pop-cont .pop-event-cont .event-date span,
    .pop-facility-warp2 .pop-cont .pop-event-cont .event-date span,
    .pop-facility-warp3 .pop-cont .pop-event-cont .event-date span,
    .pop-facility-warp4 .pop-cont .pop-event-cont .event-date span,
    .pop-facility-warp5 .pop-cont .pop-event-cont .event-date span,
    .pop-facility-warp6 .pop-cont .pop-event-cont .event-date span,
    .pop-facility-warp7 .pop-cont .pop-event-cont .event-date span,
    .pop-facility-warp8 .pop-cont .pop-event-cont .event-date span {
      font-size: 12px !important;
    }

    bold {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="master-preloader"></div>
  <section id="wrapper">
    <header class="hidden-sm hidden-xs">
      <div class="header-left">
        <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
        <div class="dept-pages">
          <ul class="dept-pages-list">
            <li><a href="/tsr" title="TRAINING SHIP RAHAMAN"><img src="images/tsr-logo.png">
                <p>TSR</p>
              </a></li>
            <li><a href="/rcamsar" title="RAHAMAN COLLEGE OF ADVANCED MARITIME STUDIES & RESEARCH"><img src="images/rcamcr-logo.jpg">
                <p>RCAMSAR</p>
              </a></li>
            <li><a href="/aracah" title="ABDUL RASHID ACADEMY OF CULINARY ARTS & MARITIME HOSPITALITY"><img src="images/arach-logo.jpg">
                <p>ARACAMH</p>
              </a></li>
            <li><a href="http://www.lkmschool.in/" title="LKM School" target="_blank"><img src="images/lkm-logo.jpg">
                <p>LKM School</p>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="header-right">
        <div class="head-right-top">
          <div class="bookings">
            <ul>
              <li><a href="http://live.ipms247.com/booking/docs/hostelbooking/book.php" class="btn-white-book" target="_blank">BOOK
                  ROOM</a></li>
              <!-- <li>
                  <a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a>
                </li> -->
              <li>
                <a href="http://183.87.148.62:7274/application/index" class="btn-white-book" target="_blank">BOOK
                  COURSE ONLINE</a>
              </li>
            </ul>
          </div>
          <div class="head-social">
            <h4>Follow Us</h4>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
         <div class="alumni"><li><a href="/admin" class="btn-white-book">ADMIN LOGIN</a></li>
           </div>  
        </div>
        <div class="head-right-bottom">
          <nav>
            <ul>
              <li><a href="/index" class="active">HOME</a></li>
              <li><a href="/about">ABOUT US</a></li>
              <li><a href="/faculty">FACULTY</a></li>
              <li><a href="/gallery">GALLERY</a></li>
              <li><a href="/contact">CONTACT US</a></li>
            </ul>
          </nav>
          <div class="head-search">
            <form class="search">
              <input type="text" class="search-input">
              <input type="submit" class="search-submit">
              <span></span>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!--mblheader-->
    <div class="mbl-header hidden-md hidden-lg">
      <div class="header-left">
        <div class="logo"><a href="/index"><img src="images/logo.png"></a></div>
      </div>
      <div class="header-right">
        <div class="menu-click"><img src="images/menu-icon.png"></div>
      </div>
      <div class="bookings">
        <ul>
          <li><a href="javascript:;" class="btn-white-book not-click-pop" target="_blank" title="Hostel booking can be done when coming for the course">BOOK
              ROOM</a></li>
          <!-- <li>
                  <a href="http://59.185.107.58/tsr/selectcoursecategory.aspx" target="_blank" class="btn-white-book">BOOK COURSE ONLINE</a>
                </li> -->
          <li>
            <a href="http://183.87.148.62:7274/application/index" class="btn-white-book" target="_blank">BOOK COURSE
              ONLINE</a>
          </li>
        </ul>
        <div class="head-search">
          <form class="search">
            <input type="text" class="search-input">
            <input type="submit" class="search-submit">
            <span></span>
          </form>
        </div>
      </div>
    </div>
    <!--mbl-head-end-->
    <div class="mbl-menu hidden-md hidden-lg">
      <div class="close-menu">X</div>
      <ul class="dept-pages-list">
        <li><a href="/tsr" title="TRAINING SHIP RAHAMAN"><img src="images/tsr-logo.png">
            <p>TSR</p>
          </a></li>
        <li><a href="/rcamsar" title="RAHAMAN COLLEGE OF ADVANCED MARITIME STUDIES & RESEARCH"><img src="images/rcamcr-logo.jpg">
            <p>RCAMSAR</p>
          </a></li>
        <li><a href="/aracah" title="ABDUL RASHID ACADEMY OF CULINARY ARTS & MARITIME HOSPITALITY"><img src="images/arach-logo.jpg">
            <p>ARACAMH</p>
          </a></li>
        <li><a href="http://www.lkmschool.in/" target="_blank" title="LKM School"><img src="images/lkm-logo.jpg">
            <p>LKM School</p>
          </a></li>
      </ul>
      <div class="mbl-nav">
        <ul>
          <li><a href="/index">HOME</a></li>
          <li><a href="/about">ABOUT US</a></li>
          <li><a href="/faculty">FACULTY</a></li>
          <li><a href="/gallery">GALLERY</a></li>
          <li><a href="/contact">CONTACT US</a></li>
          
        </ul>
      </div>
      <div class="mbl-social">
        <ul>
          <li><a href="#"><img src="images/mbl-fb-icon.png"></a></li>
          <li><a href="#"><img src="images/mbl-twitter-icon.png"></a></li>
          <li><a href="#"><img src="images/mbl-gplus-icon.png"></a></li>
        </ul>
      </div>
    </div>

    <section class="banner-home">
      <div class="certified">
        <h5><img src="images/badge.png">
          <p class="text-center">ISO<br />9001:2008<br />Certified</p>
        </h5>
      </div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner text-uppercase" role="listbox">
          <div class="item active banner-img1">
            <div class="container">
              <div class="banner-text">
                <h1>
                  <p> Over 100 years of</p>
                </h1>
                <h1>
                  <p>service to the maritime industry</p>
                </h1>
                <p><a href="/about" class="btn-banner"><span>read more</span></a></p>
              </div>
            </div>
          </div>
          <div class="item banner-img2">
            <div class="container">
              <div class="banner-text">
                <h1>
                  <p>ABDUL RASHID ACADEMY OF <br />CULINARY ARTS & MARITIME HOSPITALITY
                </h1>
                <p><a href="/aracah" class="btn-banner"><span>read more</span></a></p>
              </div>
            </div>
          </div>
          <div class="item banner-img3">
            <div class="container">
              <div class="banner-text">
                <h1>
                  <p>RAHAMAN COLLEGE OF ADVANCED <br />
                    MARITIME STUDIES & RESEARCH</p>
                </h1>
                <p><a href="/rcamsar" class="btn-banner"><span>read more</span></a></p>
              </div>
            </div>
          </div>
          <div class="item banner-img4">
            <div class="container">
              <div class="banner-text">
                <h1>
                  <p>TRAINING SHIP RAHAMAN</p>
                </h1>
                <p><a href="/tsr" class="btn-banner"><span>read more</span></a></p>
              </div>
            </div>
          </div>
          <div class="item banner-img5">
            <div class="container">
              <div class="banner-text">
                <h1>
                  <p>TRAINING SHIP RAHAMAN</p>
                </h1>
                <p><a href="/tsr" class="btn-banner"><span>read more</span></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--flash news-->
    <section class="flash-wrap">
      <div class="container bg-white">
        <div class="status marquee-container">
          <div class="bg-status marquee-sibling">
            <p class="status-text text-uppercase"><a href="/news_events">
                Flash News</a></p>
          </div>
          <div class="marquee">
            <div class="marquee-content-items">
			 <p> ** <bold>DNS cadets & GP Ratings:</bold> DNS cadets and GP Ratings for July batch. ** <bold>GMDSS
                  BOOKING:</bold> FOR GMDSS BOOKING PLEASE CONTACT -02227212834. ** <bold>GP Rating Course:</bold> FOR
                GP Rating Course BOOKING PLEASE CONTACT -02227212828 ,02227212873. ** <bold>CCMC Course:</bold> FOR
                CCMC Course BOOKING PLEASE CONTACT -02227212828 ,02227212923. ** <bold>DNS Course:</bold> FOR DNS
                Course BOOKING PLEASE CONTACT -91-8879967737. <bold>CCMC 1st Merit List:</bold> Last date for
                submission of documents: 15 th Nov 2018. &nbsp;&nbsp; GP Ratings Batch No.62 &nbsp;&nbsp;  CCMC Ratings Batch No.25 &nbsp;&nbsp;  B.Sc. Nautical Science (MU) Cadets Batch No.14 &nbsp;&nbsp;  DNS (Leading to B.Sc. ANS) Cadets Batch No.19
              </p>
             
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tsr_chairman">
      <div class="container bg-white pad-about">
        <div class="col-pad col-sm-6 col-md-7 col-lg-7">
          <h1 class="text-center"><img src="images/tsr_history.png" class="img-responsive" alt="" /></h1>
          <p>Having shifted the Marine School Orphanage to Nhava in 1912 nautical education was introduced in 1915. On
            December 4th 1918, a petition was submitted to the Governor of Bombay by about 650 seafarers for
            establishing a marine training college for Indians. However as no decision was taken due mainly to the
            resistance of British shipping interests the matter was shelved. A resolution was moved on January 12th,
            1922 by Sir P. S. Srivarswami Aiyar in the Legislative Assembly “to investigate ways and means of promoting
            the formation of an Indian Mercantile Marine and the encouragement of ship building.” In April 1923, the
            Indian Mercantile Marine Committee visited Nhava...</p>
          <p class="text-uppercase news-read-more"><a href="/about" class="btn-green"><span>read more</span></a></p>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-5 chairman_personal">
          <h1 class="text-center"><img src="images/tsr_tour.png" class="img-responsive" alt="" /></h1>
          <section class="tsr-video">
            <div class="text-uppercase">
              <p><a class="venobox" data-type="iframe" href="videos/tsr.mp4"></a> </p>
              <h5 class="campus-caption">CLICK TO SEE</h5>

            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="home-course-wrap">
      <div class="container bg-gray">
        <h1 class="text-center"><img src="images/home-course.png" alt="" /></h1>
        <div class="courses">
          <div class="course"><img src="images/bsc-nautical.jpg">
            <h6 class="course-title"><a class="course-link-overlay" href="/courses/tsr_bscnauticalscience"></a></h6>
            <p class="text-center">BSc Nautical Science</p><a href="/courses/tsr_bscnauticalscience">read more</a>
          </div>
          <div class="course"><img src="images/diploma-nautical.jpg">
            <h6 class="course-title"><a class="course-link-overlay" href="/courses/tsr_imudiplomainns"></a></h6>
            <p class="text-center">Diploma In Nautical Science</p><a href="/courses/tsr_imudiplomainns">read more</a>
          </div>
          <div class="course"><img src="images/presea-training.jpg">
            <h6 class="course-title"><a class="course-link-overlay" href="/courses/tsr_preseageneralpurposeratingtrainingcourse"></a></h6>
            <p class="text-center">Pre Sea General Purpose Rating<br />
              Training Courses</p><a href="/courses/tsr_preseageneralpurposeratingtrainingcourse">read more</a>
          </div>
          <div class="course"><img src="images/home_catering_bcs_img.jpg">
            <h6 class="course-title"><a class="course-link-overlay" href="/courses/tsr_bscmaritimehospitalitystudies"></a></h6>
            <p class="text-center">B.Sc. in Maritime Hospitality Studies</p><a href="/courses/tsr_bscmaritimehospitalitystudies">read
              more</a>
          </div>
          <div class="course"><img src="images/home_catering_ccmc_img.jpg">
            <h6 class="course-title"><a class="course-link-overlay" href="/courses/tsr_certificationcourseinmaritimecatering"></a></h6>
            <p class="text-center">Pre Sea Certificate Course In<br />
              Maritime Catering</p><a href="/courses/tsr_certificationcourseinmaritimecatering">read more</a>
          </div>
          <div class="course"><img src="images/presea-mech.jpg">
            <h6 class="course-title"><a class="course-link-overlay" href="/courses/tsr_gme"></a></h6>
            <p class="text-center">Pre Sea Training Course For Graduate<br />
              Mechanical Engineers</p><a href="/courses/tsr_gme">read more</a>
          </div>
          <div class="course"><img src="images/personal-survival.jpg">
            <h6 class="course-title"><a class="course-link-overlay" href="/courses/tsr_post_basicstcwcourses"></a></h6>
            <p class="text-center">Basic STCW</p><a href="/courses/tsr_post_basicstcwcourses">read more</a>
          </div>
          <div class="course"><img src="images/personal-social.jpg">
            <h6 class="course-title"><a class="course-link-overlay" href="/courses/tsr_post_advancestcw"></a></h6>
            <p class="text-center">Advanced STCW</p><a href="/courses/tsr_post_advancestcw">read more</a>
          </div>
        </div>
        <p class="text-uppercase text-center news-read-more"><a href="/courses" class="btn-green"><span>View all
              courses</span></a></p>
      </div>
    </section>
    <section class="home-course-wrap facility-new-wrap">
      <div class="container bg-gray">
        <h1 class="text-center"><img src="images/why-choose-tsr.png" alt="" /></h1>
        <div class="courses">
          <div class="course">
            <img src="images/facility/museum_thumb.jpg">
            <p class="text-center">Marine Museum</p>
            <h6 class="course-title">
              <div class="course-link-overlay">
                <article>The Museum owes its existence to the efforts of late Sir Mohamed Yusuf...</article>
                <a class="read-facility" href="/facility/museum">read more</a>
              </div>
            </h6>
          </div>
          <div class="course">
            <img src="images/facility/hospital_thumb.jpg">
            <p class="text-center">Fatama Banu Hospital</p>
            <h6 class="course-title">
              <div class="course-link-overlay">
                <article>Fatama Banu Hospital was born out of the
                  philanthropic disposition of Sir...</article>
                <a class="read-facility" href="/facility/hospital">read more</a>
              </div>
            </h6>
          </div>
          <div class="course">
            <img src="images/facility/library_thumb.jpg">
            <p class="text-center">GC Library</p>
            <h6 class="course-title">
              <div class="course-link-overlay">
                <article>George Campbell Reference Library was established in the year 1998 with...</article>
                <a class="read-facility" href="/facility/library">read more</a>
              </div>
            </h6>
          </div>
          <div class="course">
            <img src="images/facility/security_thumb.jpg">
            <p class="text-center">Security Services</p>
            <h6 class="course-title">
              <div class="course-link-overlay">
                <article>The Campus is closely guarded by its complements of Security guards...</article>
                <a class="read-facility" href="/facility/security">read more</a>
              </div>
            </h6>
          </div>
          <div class="course">
            <img src="images/facility/transport_thumb.jpg">
            <p class="text-center">Transportation</p>
            <h6 class="course-title">
              <div class="course-link-overlay">
                <article>The Foundation transport fleet consists of buses and small cars. this fleet...</article>
                <a class="read-facility" href="/facility/transport">read more</a>
              </div>
            </h6>
          </div>
          <div class="course">
            <img src="images/facility/catering_thumb.jpg">
            <p class="text-center">Catering</p>
            <h6 class="course-title">
              <div class="course-link-overlay">
                <article>The Foundation has independent Catering and Housekeeping Departments...</article>
                <a class="read-facility" href="/facility/catering">read more</a>
              </div>
            </h6>
          </div>
          <div class="course">
            <img src="images/facility/farm_thumb.jpg">
            <p class="text-center">Dairy<br /> &amp; Poultry form</p>
            <h6 class="course-title">
              <div class="course-link-overlay">
                <article>The Campus is self sufficient in its requirement of Dairy and Poultry...</article>
                <a class="read-facility" href="/facility/farm">read more</a>
              </div>
            </h6>
          </div>
          <div class="course">
            <img src="images/facility/laundry_thumb.jpg">
            <p class="text-center">Housekeeping <br />&amp; Laundry</p>
            <h6 class="course-title">
              <div class="course-link-overlay">
                <article>This department looks after the cleaning and maintenance of various...</article>
                <a class="read-facility" href="/facility/laundry">read more</a>
              </div>
            </h6>
          </div>
        </div>
        <p class="text-uppercase text-center news-read-more"><a href="/facility" class="btn-green"><span>View all
              facilities</span></a></p>
      </div>
    </section>
    <section class="news-events-tsr">
      <div class="container">
        <div class="home-news-wrap news-events-fullbg bg-gray">
          <h1 class="text-center"><img src="images/title_news.png" alt="" /></h1>
          <div class="news-events-wrap1">
          <div class="news-events-cont1">
              <p class="event-date">Dec<span>18</span></p>
              <div class="event-details">
                <h1>Campus Round about<br /> DECEMBER 2018</h1>
                <span class="tooltip-info event-clr">Event</span>
                <article>&nbsp;</article>
                <p><a href="pdf/CRA DECEMBER 2018.pdf" class="" target="_blank">READ MORE</a></p>
              </div>
            </div>
          <div class="news-events-cont1">
              <p class="event-date">Nov<span>18</span></p>
              <div class="event-details">
                <h1>Campus Round about<br /> NOVEMBER 2018</h1>
                <span class="tooltip-info event-clr">Event</span>
                <article>&nbsp;</article>
                <p><a href="pdf/CRA NOV 2018.pdf" class="" target="_blank">READ MORE</a></p>
              </div>
            </div>
            <div class="news-events-cont1">
              <p class="event-date">Oct<span>18</span></p>
              <div class="event-details">
                <h1>Campus Round about<br /> OCTOBER 2018</h1>
                <span class="tooltip-info event-clr">Event</span>
                <article>&nbsp;</article>
                <p><a href="pdf/cra_oct_18.pdf" class="" target="_blank">READ MORE</a></p>
              </div>
            </div>
            <!-- <div class="news-events-cont1">
              <p class="event-date">Sep<span>18</span></p>
              <div class="event-details">
                <h1>Campus Round about<br /> SEPTEMBER 2018</h1>
                <span class="tooltip-info event-clr">Event</span>
                <article>&nbsp;</article>
                <p><a href="pdf/CRA SEPTEMBER 2018-min.pdf" class="" target="_blank">READ MORE</a></p>
              </div>
            </div> -->
           <!--  <div class="news-events-cont1">
              <p class="event-date">Aug<span>18</span></p>
              <div class="event-details">
                <h1>Campus Round about<br /> AUGUST 2018</h1>
                <span class="tooltip-info event-clr">Event</span>
                <article>&nbsp;</article>
                <p><a href="pdf/CRA AUG 2018.pdf" class="" target="_blank">READ MORE</a></p>
              </div>
            </div> -->
          </div>
          <div class="news-events-wrap2">
            <div class="news-events-cont2">
              <p class="event-date">Jun<span>18</span></p>
              <div class="event-details">
                <h1>DNS cadets Batch No.18</h1>
                <span class="tooltip-info news-clr">News</span>
                <article></article>
                <p><a href="pdf/DNS_Cadets_B _No.18.pdf" class="" target="_blank">READ MORE</a></p>
              </div>
            </div>
             <div class="news-events-cont2">
              <p class="event-date">Jun<span>18</span></p>
              <div class="event-details">
                <h1>GP Ratings for July batch</h1>
                <span class="tooltip-info news-clr">News</span>
                <article></article>
                <p><a href="pdf/GP_Ratings_Batch_No._61.pdf" class="" target="_blank">READ MORE</a></p>
              </div>
            </div> 
          </div>
          <p class="text-uppercase news-read-more"><a href="/news_events" class="btn-green"><span>View all</span></a></p>
        </div>
      </div>
    </section>
    <section class="contact-tsr">
      <div class="container bg-white">
        <h1 class="text-center cont-title-pad"><img src="images/title_contact.png" alt="" /></h1>
        <div class="map-tsr">
          <div class="map-form">
            <form>
              <p><label>From</label><input type="text" placeholder="Enter Your Location"></p>
              <p><label>To</label><input type="text" placeholder="T.S. Rahaman Campus - Nhava"></p>
              <p><label></label><b class="btn-green getting-there-btn"><a href="https://www.google.co.in/maps/dir//T.S+Rahaman+Campus,+Nhava,+Panvel,+Raigarh,+Maharashtra+410206/@15.6984616,72.1236942,6z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3be7c4c83a989e0d:0xa9897edbb723b7cc!2m2!1d72.970047!2d18.9641317"
                    target="_blank">GETTING THERE</a></b></p>
            </form>
          </div>
          <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?AIzaSyATcniUHH3oWgLB4E8wtfcUhI7b4C8GEgI"></script>
          <div style="overflow:hidden;height:300px;width:100%;" class="map">
          </div>
        </div>
      </div>
    </section>
    <section class="footer-warp footer-warp-home">
      <div class="footer-full home-footer-full">
        <div class="container">
          <div class="row home-contact-wrap sec">
            <div class="contact-details2">
              <h1>TSR Principal</h1>
              <ul>
                <li>+91 22 27212802</li>
              </ul>
              <p><a href="javascript:void(0)">tsrahaman@tsrahaman.org</a></p>
            </div>
            <div class="contact-details2">
              <h1>Pre Sea (Nautical)</h1>
              <ul>
                <li>+91 22 27212828 / 873</li>
              </ul>
              <p><a href="javascript:void(0)">booking.presea@tsrahaman.org</a></p>
            </div>
            <div class="contact-details4">
              <h1>Post Sea (STCW)</h1>
              <ul>
                <li>+91 22 27212940 / 941 / 911</li>
              </ul>
              <p><a href="javascript:void(0)">booking.stcw@tsrahaman.org</a></p>
            </div>
          </div>
          <div class="row home-contact-wrap first">
            <div class="contact-details4">
              <h1>RCAMSAR (Engineering)</h1>
              <ul>
                <li>+91 27212806 / 27212816</li>
              </ul>
              <p><a href="javascript:void(0)">booking.rcamsar@tsrahaman.org</a></p>
            </div>
            <div class="contact-details4">
              <h1>ARACAMH</h1>
              <ul>
                <li>+91 022- 27212923 / 921</li>
              </ul>
              <p><a href="javascript:void(0)">booking.cmch@tsrahaman.org</a></p>
            </div>
            <div class="contact-details1">
              <h1>TSR Campus</h1>
              <ul>
                <li>+91 22 27212800/900</li>
              </ul>
              <p><a href="javascript:void(0)">admin@tsrahaman.org</a></p>
            </div>
            <div class="contact-details2">
              <h1>LKM School</h1>
              <ul>
                <li>+91 22 27212938</li>
              </ul>
              <p><a href="javascript:void(0)">lkm@tsrahaman.org</a></p>
            </div>


          </div>
          <!-- <div class="row home-contact-wrap sec">
          <div class="contact-details2">
            <h1>TSR Principal</h1>
            <ul>
              <li>+91 22 27212802</li>
            </ul>
            <p><a href="javascript:void(0)">tsrahaman@tsrahaman.org</a></p>
          </div>
          <div class="contact-details2">
            <h1>Pre Sea (Nautical)</h1>
            <ul>
              <li>+91 22 27212828 / 873</li>
            </ul>
            <p><a href="javascript:void(0)">booking.presea@tsrahaman.org</a></p>
          </div>
        <div class="contact-details4">
          <h1>Post Sea (STCW)</h1>
          <ul>
            <li>+91 22 27212940 / 941 / 911</li>
          </ul>
          <p><a href="javascript:void(0)">booking.stcw@tsrahaman.org</a></p>
        </div>
        </div -->
        </div>
        <div class="foot-bg-wrap">
          <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details5">
              <h1>Newsletter Signup</h1>
              <p class="parallelogram-input">
                <input type="text" />
              </p>
              <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>sign up</span></a></p>
              <hr>
              <h5>Social Network</h5>
              <ul class="foo-social-group">
                <li><a href="" class=""></a></li>
                <li><a href="" class=""></a></li>
                <li><a href="" class=""></a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details6">
              <h1>Site Map</h1>
              <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/faculty">Faculty</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact us</a></li>
              </ul>
              <img src="images/foot-logo.png">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-details7">
              <h1>For an Enquiry</h1>
              <p class="parallelogram-input">
                <input type="text" placeholder="Name">
              </p>
              <p class="parallelogram-input">
                <input type="text" placeholder="Email">
              </p>
              <p class="parallelogram-input">
                <input type="text" placeholder="Phone">
              </p>
              <p class="parallelogram-input">
                <textarea type="text" placeholder="Message"></textarea>
              </p>
              <p class="text-uppercase btn-signup"><a href="#" class="btn-green btn-white"><span>contact us</span></a></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact-address">
              <h1>Contact</h1>
              <ul>
                <li><strong>T.S. Rahaman Campus - Nhava</strong></li>
                <li>Nhava, Panvel, Raigarh, </li>
                <li>Maharashtra 410206, India</li>
              </ul>
              <a href="pdf/policy.pdf" class="cancel-policy" target="_blank">Cancellation Policy PDF</a>
              <h1>National Anti ragging</h1>
              <ul class="foot-addr">
                <li>1800-180-552 (24 x 7 Toll Free)</li>
                <li><a href="mailto:helpline@antiragging.in">helpline@antiragging.in</a></li>
                <li><a href="http://www.ugc.ac.in" target="_blank">www.ugc.ac.in</a></li>
                <li><a href="http://www.antiragging.in" target="_blank">www.antiragging.in</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <p class="text-center">&copy; 2015 T S Rahaman | All Rights Reserved.</p>
      </div>
    </section>

    <!--PopUp-->
    <div class="pop-facility-warp1">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date"><img src="images/f-library.png"></p>
          <h1>Library</h1>
        </div>
        <article>George Campbell Reference Library was established in the year 1998 with the Books, CDs and Video Films
          presented by Mr Fernandes, President and one of the
          Trustees of George Campbell Reception
          Foundation, Nassau, Bahamas. The
          main objective is to cater to the training
          needs of the maritime student community
          undergoing various courses of
          instructions in the Campus.</article>
        <article>It was originally housed in the present
          day Executive Office.
        </article>
        <article>The Ground Floor accommodates Archive
          Section that has over 1000 rare books
          on various subjects, Internet browsing
          terminals and a reading room with news
          papers and magazines relating to
          maritime subjects and general reading
          such as 'TIME”. A fumigation room faulitates regular maintenance
          of books. Two terminals have been exclusively earmarked for e
          reading material that has been downloaded. Interesting and
          educative articles, training videos, inspirational videos and useful
          websites are
          part of the e
          resources of the
          Library.
        </article>
        <article>The First Floor
          glass
          empanelled air conditioned enclosures houses the
          Main Library that contains latest maritime
          reference and reading material.Re-production
          facilities (Photocopier and scanner) have been
          made available that caters for the training needs
          of the student community. </article>
      </div>
    </div>
    <div class="pop-facility-warp2">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date"><img src="images/f-hospital.png"></p>
          <h1>Fatima Banu hospital</h1>
        </div>
        <article>Great care of mangroves on the coastline abutting the campus is ensured through constant patrolling.
          The campus is home to more than 40 variety of trees</article>
      </div>
    </div>
    <div class="pop-facility-warp3">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date"><img src="images/f-transport.png"></p>
          <h1>transportation</h1>
        </div>
        <article>The Foundation has four buses for transporting School children and two other buses for transportation
          of candidates from Belapur Railway station and the Foundation Staff from Panvel. Three other smaller vehicles
          are used for transportation requirement of the staff
          for various duties outside the Campus and for material purchase and, procurement.
        </article>
        <article>The mechanical repairs section attends to repairs of the transport fleet and other plant
          and ewuipment unless factory repairs are necessitated.
        </article>
      </div>
    </div>
    <div class="pop-facility-warp4">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date"><img src="images/f-broadband.png"></p>
          <h1>broadband and
            wi fi connectivity</h1>
        </div>
        <article>The Campus has taken two leased circuits of 10 Mbps each; a leased line from MTNL and a wireless
          leased circuit from Joister (Syscon) Company.</article>
        <article>The internet
          connections are terminated on a
          Cyberoam to ensure cyber security.
        </article>
      </div>
    </div>
    <div class="pop-facility-warp5">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date"><img src="images/f-catering.png"></p>
          <h1>Catering & Housekeeping </h1>
        </div>
        <article>The Foundation has its own Catering and
          Housekeeping Departments. The Catering
          Department prepares and serves about
          800 to 900 meals during a
          CAMPUS NHAVA MTNL MUX Room
          single service to a diverse group consisting of trainees, faculty, employees and school children. They also
          arrange meals for Picnic
          Groups that visit the Campus.
        </article>
        <article>The galley is well provided with commercial equipment like grinders, peelers, mixers, idli steamers,
          and brat pans, deep fat fryers,
          cooking ranges, ovens and bain-marie for large scale cooking and serving hot meals.
        </article>
      </div>
    </div>
    <div class="pop-facility-warp6">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date"><img src="images/f-farm.png"></p>
          <h1>Dairy & Poultry Farm
          </h1>
        </div>
        <article>The Campus is self sufficient in its requirement of milk and poultry. The total live stock in the
          Dairy Farm is around 42 cows. Around 200
          Broilers and 700 layer birds in batches meet the requirement of meat and eggs. It is ensured that organic
          milk and poultry products are
          served to the trainees.
        </article>
      </div>
    </div>
    <div class="pop-facility-warp7">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date"><img src="images/f-laundary.png"></p>
          <h1>Laundry</h1>
        </div>
        <article>The 'in house' Laundry has large, fully automated commercial washers and Driers and is able provide
          laundry and ironing services to
          the trainees as well as the Campus Staff. Steam and electrical irons are deployed for ever increasing load of
          ironing.
        </article>
      </div>
    </div>
    <div class="pop-facility-warp8">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date"><img src="images/f-banking.png"></p>
          <h1>Banking Facilities</h1>
        </div>
        <article>An extension Counter of Bank of India is currently accommodated in the Campus and facilitates all
          types of banking services, particularly of significance is that based on
          Foundation’s recommendations, loan
          facilities for trainees, students and
          employees are facilitated.
        </article>
        <article>ATM of the Bank of India is also co-located
          with the Campus with its attendant banking
          facilities.
        </article>
      </div>
    </div>
    <div class="pop-warp-news-1">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date">Month<span>Date</span></p>
          <h1>NEWS</h1>
        </div>
        <figure><img src="http://placehold.it/600x150" width="600" height="150" alt=""></figure>
        <article>Coming Soon</article>
      </div>
    </div>
    <div class="pop-warp-news-2">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date">Month<span>Date</span></p>
          <h1>NEWS</h1>
        </div>
        <figure><img src="http://placehold.it/600x150" width="600" height="150" alt=""></figure>
        <article>Coming Soon</article>
      </div>
    </div>
    <div class="pop-warp-events-1">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date">Month<span>Date</span></p>
          <h1>Bsc Entrance Exam</h1>
        </div>
        <figure><img src="http://placehold.it/600x150" width="600" height="150" alt=""></figure>
        <article>Coming Soon</article>
      </div>
    </div>
    <div class="pop-warp-events-2">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <p class="event-date">Month<span>Date</span></p>
          <h1>IMU- CET</h1>
        </div>
        <figure><img src="http://placehold.it/600x150" width="600" height="150" alt=""></figure>
        <article>Coming Soon</article>
      </div>
    </div>
    <div class="pop-not-click">
      <div class="pop-cont">
        <div class="pop-close">X</div>
        <div class="pop-event-cont">
          <h1>Hostel Booking</h1>
          <article>Hostel booking can be done when coming for the course.</article>
        </div>
      </div>
    </div>
  </section>
  <script src="js/jquery-1.11.3.js"></script>
  <script src="js/video.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/isotope.pkgd.js"></script>
  <script src="js/jquery.dlmenu.js"></script>
  <script src="js/bootstrap-tabdrop.js"></script>
  <script src="js/venobox.js"></script>
  <script src="js/marquee.js"></script>
  <script src="js/main.js"></script>
  <script>
    $(window).load(function () {
      (function (a) {
        a.preload = function () {
          var d = Object.prototype.toString.call(arguments[0]) === "[object Array]" ? arguments[0] : arguments;
          var c = []; var b = d.length; for (; b--;) { c.push(a("<img />").attr("src", d[b])); }
        };
      })(jQuery);
      $.preload('images/other_menu.png', 'images/other_menu-hover.png');
    });
    var myVideo = document.getElementById("bgvid");

    function playVid() {

      myVideo.play();

    };

    function pauseVid() {

      myVideo.pause();

    };



    $(function () {
      createMarquee({});
    });

    $(document).ready(function () {
      $('.home-course-wrap.facility-new-wrap .courses .course .course-title').click(function () {
        var href = $(this).children().find('a').attr('href');
        window.location = href;
      });
      $("#tsrTicker").ticker({
        effect: "slideUp",
        interval: 4000,
        duration: 200
      });
      $('#myCarousel').carousel({
        interval: 2000
      });
      if (window.matchMedia('(max-width: 479px)').matches) {
        $('.tab-res').tabdrop(function () {
          $(this).siblings('.dropdown').removeClass('open')
        });
      }

      $('.venobox').venobox();

    });
    $(window).load(function () {
      (function (a) {
        a.preload = function () {
          var d = Object.prototype.toString.call(arguments[0]) === "[object Array]" ? arguments[0] : arguments;
          var c = []; var b = d.length; for (; b--;) { c.push(a("<img />").attr("src", d[b])); }
        };
      })(jQuery);
      $.preload('images/other_menu.png', 'images/other_menu-hover.png');
    });




  </script>
</body>

</html>