<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>CS Grand | Obstacle Adventures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="with all new obstacles we provide takeshi's castle like experience by log ladders, rope swings, tightropes, swinging logs, etc., in tamilnadu, india.">
    <meta name="keywords" content="obstacle games,High wall,Parallel bars,Transfer cross,Weaver">
    <meta name="robots" content="index,follow">
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/slick-lightbox.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/csgrand.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    
    <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script -->
    <script type='text/javascript' src='js/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='js/slick-lightbox.js'></script>  
    <script type='text/javascript' src='js/slick.min.js'></script>	
    
    <script>
		$('document').ready(function() {

            $(".ipad-992 .whats-menu").slick({
              slidesToShow: 3,
              slidesToScroll: 1,
              arrows: false,
              centerMode: true,
              focusOnSelect: true,
              responsive: [
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 3
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 2
                  }
                }
              ]
            });

            $('.rope-list-images').slickLightbox({
              itemSelector        : 'a',
              navigateByKeyboard  : true
            });
		  
		});
	</script>

  </head>
<body>
<div class="menu-overlay"></div>
	<div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="header">
                <div class="span3">
                    <a href="index.html"><img src="img/logo.png"></a>
                </div>
                
                <div class="span7 offset2">
                    <ul class="preheader-menu">
                        <li><a href="index.html" class="btn_home">home</a></li>
                        <li><a href="about.html" class="btn_home">about us</a></li>
                        <li><a href="photosEvent.html" class="btn_video">gallery</a></li>
                        <li><a href="member.html" class="btn_photo">member benefits</a></li>
                        <li><a href="reach.html" class="btn_reach">contact us</a></li>
                    </ul>
                    <div class="nav">
                        
                        <ul>
                            <li><a href="high_rope.html" class="btn_home">High rope <span>Adventures</span></a></li>
                            <li class="active"><a href="obstacle.html" class="btn_home">Obstacle <span>Adventures</span></a></li>
                            <li><a href="dynamic.html" class="btn_home">Dynamic <span>Adventures</span></a></li>
                            <li><a href="kids_adventures.html" class="btn_home">Kids <span>Activities</span></a></li>
                            <li><a href="games.html" class="btn_home">Games <span>INdoor &amp; Outdoor</span></a></li>
                            <li><a href="stay_adventures.html" class="btn_home">accommodation<span>&amp; amenities</span></a></li>
                    </div>
                </div>
                
                <div class="row">
                    <div class="span1">
                    <div class="mob_nav" style="display:none;">
                        <ul>
                            <li><a href="index.html"><img src="img/btn_top1.gif"></a></li>
                            <li><a href="videos.html"><img src="img/btn_top2.gif"></a></li>
                            <li><a href="photosEvent.html"><img src="img/btn_top3.gif"></a></li>
                            <li><a href="activites.html"><img src="img/btn_top4.gif"></a></li>
                            <li><a href="reach.html"><img src="img/btn_top5.gif"></a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="menuClick">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
                </div>
                <!--mobile menu-->
                <div class="mbl-menu">
                    <span class="mbl-close"><img src="img/menu_close_icon.png"></span>
                    <ul class="mbl-menu-list">
                        <li><a href="high_rope.html">High rope<span>Adventures</span></a></li>
                        <li><a href="obstacle.html">Obstacle<span>Adventures</span></a></li>
                        <li><a href="dynamic.html">Dynamic<span>Adventures</span></a></li>
                        <li><a href="kids_adventures.html">Kids<span>Activities</span></a></li>
                        <li><a href="games.html">Games<span>INdoor &amp; Outdoor</span></a></li>
                        <li><a href="stay_adventures.html" class="btn_home">accommodation<span>&amp; amenities</span></a></li>
                    </ul>
                </div>
                <!--mobile menu end-->
            </div>
            
            <div class="">
            	<div class="page_title">
                	<span>What's Inside</span>
                </div>
            </div>
            
            <div class="desktop-above-992">
            	<ul class="whats-menu">
                    <li><a href="high_rope.html"><img src="img/head_rope.png"></a></li>
                    <li class="active"><a href="obstacle.html"><img src="img/head_obstacle.png"></a></li>   
                    <li><a href="dynamic.html"><img src="img/head_dynamic.png"></a></li>
                    <li><a href="kids_adventures.html"><img src="img/head_kids.png"></a></li>
                    <li><a href="games.html"><img src="img/head_games.png"></a></li>   
                    <li><a href="stay_adventures.html"><img src="img/head_stay.png"></a></li>
                </ul>
            </div>  
            <div class="ipad-992">
                <ul class="whats-menu">
                    <li><a href="high_rope.html"><img src="img/head_rope.png"></a></li>
                    <li class="active"><a href="obstacle.html"><img src="img/head_obstacle.png"></a></li>   
                    <li><a href="dynamic.html"><img src="img/head_dynamic.png"></a></li>
                    <li><a href="kids_adventures.html"><img src="img/head_kids.png"></a></li>
                    <li><a href="games.html"><img src="img/head_games.png"></a></li>   
                    <li><a href="stay_adventures.html"><img src="img/head_stay.png"></a></li>
                </ul>
            </div>   

            <div class="about_box content-rope">
                <div class="content-about-top">
                    <figure class="span6"><img src="img/what/banner/head_obstacle.png"></figure>
                    <div class="span6">
                        <h1>All kinds of cool obstacles <br> up high in the sky!</h1>
                        <article>Way, way up above your head, there’s an obstacle course where we throw everything at you. log ladders, ziplines, cargo nets, rope swings, tightropes, swinging logs, wobbly bridges. Dozens of suspended surprises are up there, becoming more challenging the higher you get. But stick with it, you’ll learn as you go.</article>
                        <ul>
                            <li>Will raise your heart rate significantly</li>
                            <li>Your upper body strength will improve</li>
                            <li>Handle the work and social situations better</li>
                        </ul>
                    </div>
                </div> 
                <div class="content-about-bottom">
                    <div class="span6 rope-list-images">
                        <a href="img/what/obstacle/lg/img1.jpg" class="tile-img first-tile"><img src="img/what/obstacle/img1.jpg"></a>
                        <a href="img/what/obstacle/lg/img2.jpg" class="tile-img second-tile"><img src="img/what/obstacle/img2.jpg"></a>
                        <a href="img/what/obstacle/lg/img3.jpg" class="tile-img third-tile"><img src="img/what/obstacle/img3.jpg"></a>
                        <a href="img/what/obstacle/lg/img4.jpg" class="tile-img fourth-tile"><img src="img/what/obstacle/img4.jpg"></a>
                        <a href="img/what/obstacle/lg/img5.jpg" class="tile-img fifth-tile"><img src="img/what/obstacle/img5.jpg"></a>
                    </div>
                    <div class="span6">
                        <div class="content-bot-list">
                            <ul>
                                <li><span>01</span>Parallel bars</li>
                                <li><span>02</span>Parallel climb</li>
                                <li><span>03</span>Kitten crawl</li>
                                <li><span>04</span>Hooya logs</li>
                                <li><span>05</span>Parallel walk</li>
                                <li><span>06</span>Tyre swing</li>
                                <li><span>07</span>Dirty name</li>
                                <li><span>08</span>Weaver</li>
                                <li><span>09</span>Vaults</li>
                            </ul>
                            <ul>
                                <li><span>10</span>Tyre cross</li>
                                <li><span>11</span>Cargo net cross</li>
                                <li><span>12</span>Low wall</li>
                                <li><span>13</span>High wall</li>
                                <li><span>14</span>Reverse vaults</li>
                                <li><span>15</span>Tunnel cross</li>
                                <li><span>16</span>Transfer cross</li>
                                <li><span>17</span>figner walk</li>
                                <li><span>18</span>Foot loos</li>
                            </ul>
                        </div>
                        <p><a href="reach.html">Know price</a></p>
                    </div>
                </div>           
            </div>
    </div>
    
    
    
    <div class="wrapper bottom inner">
        <div class="container">
            <div class="row">
                <div class="footer_share">
                    <div class="span3 flex-bx">
                        <div>
                            <p>Call us on</p>
                            <span>+91 8056813969</span>
                        </div>
                        <div class="span3">
                            <p>Download</p>
                            <span><a href="pdf/brouchure.pdf" target="_blank">Brouchure</a></span>
                        </div>
                    </div>
                    
                    <div class="foot-social">
                        <div class="share_button">
                            <p>Find us on</p>
                            <a href="https://www.instagram.com/csgrandadventuresindia/" target="_blank" class="btn_insta_bot">Instagram</a>
                            <a href="https://www.facebook.com/CS-GRAND-260366621128691/" target="_blank" class="btn_fb_bot">Facebook</a>
                            <a href="https://twitter.com/CS_GRAND_INDIA" target="_blank" class="btn_twt_bot">Twitter</a>
                            <a href="https://plus.google.com/u/0/105145415050857616963" target="_blank" class="btn_gplus_bot">Google+</a>
                            <a href="https://www.linkedin.com/in/cs-grand-30ab3b145/" target="_blank" class="btn_linked_bot">Linkedin</a>
                            <a href="https://www.youtube.com/user/ytcsgrand" target="_blank" class="btn_yt_bot">Youtube</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="footer_links">
                    <div class="">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="high_rope.html">What’s inside</a></li>
                            <li><a href="photosEvent.html">Gallery</a></li>
                            <li><a href="member.html">Member benefits</a></li>
                            <li><a href="reach.html">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="copyrights">
                         &copy; CS Grand. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script type="text/javascript" charset="utf-8">
		var scrollSpeed = 70;
		var step = 1;
		var current = 0;
		var imageWidth = 2344;
		var headerWidth = $('body').innerWidth();
	
		var restartPosition = -(imageWidth - headerWidth);
	
		function scrollBg(){
			current -= step;
			if (current <= restartPosition){
				current = 0;
			}
	
			$('.wrapper').css("background-position",current+"px 0");
		}
	
		var init = setInterval("scrollBg()", scrollSpeed);
    </script>
    
    <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');	
		
			ga('create', 'UA-52641567-1', 'auto');
			ga('send', 'pageview');
		</script>
        <script src="js/menu.js"></script>
  
</body>
</html>